
<!-- <div>{{orderToPrint}}</div> -->
<div class="noprint clearfix">
	<a href="javascript:;" class="btn btn-sm btn-primary pull-right" ng-click="print()">打印</a>
</div>
<article ng-repeat="item in orderToPrint" on-finish-render>
	<table class="table table-condensed table-bordered">
		<tbody>
			<tr>
				<td colspan="3">共拆分为{{orderToPrint.length}}个拣货单，本单为第{{$index+1}}单</td>
				<td colspan="3" class="text-center">
					<div data-code="{{item.pickListCode}}" class="barcode"></div>
					<div class="text-center">{{item.pickListCode}}</div>
				</td>
			</tr>

			<tr>
				<td>订单号</td>
				<td colspan="3">{{item.orderCode}}</td>
				<td>拣货单号</td>
				<td>{{item.pickListCode}}</td>
			</tr>
			<tr>
				<td class="col-md-2">拣货仓库</td>
				<td class="col-md-2">{{item.pickListDepot}}</td>
				<td class="col-md-2">拣货区</td>
				<td class="col-md-2">{{item.pickListCargoArea}}</td>
				<td class="col-md-2">拣货员</td>
				<td class="col-md-2">{{item.pickListPerson}}</td>
			</tr>
			<tr>
				<td class="col-md-2">品规数</td>
				<td class="col-md-2">{{item.specifications}}</td>
				<td class="col-md-2">总件数</td>
				<td class="col-md-2">{{item.total}}</td>
				<td class="col-md-2"></td>
				<td class="col-md-2"></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered table-condensed">
		<tbody>
			<tr>
				<th>序号</th>
				<th>药材编码</th>
				<th>通用名</th>
				<th>规格</th>
				<th>型号</th>
				<th>厂家</th>
				<th>计量单位</th>
				<th>货位码</th>
				<th>拣货数量</th>
				<th>备注</th>
			</tr>
		</tbody>
		<tbody ng-repeat="detail in item.products">
			<tr>
				<td>{{$index+1}}</td>
				<td>{{detail.productCode}}</td>
				<td>{{detail.ordinaryName}}</td>
				<td>{{detail.specifications}}</td>
				<td>{{detail.model}}</td>
				<td>{{detail.manufactor}}</td>
				<td>{{detail.unit}}</td>
				<td>{{detail.locatorCode}}</td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</article>