<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="#">配货管理</a>
        </li>
        <li class="active"> 拆单拣货 </li>
    </ul>
</div>
<!-- page heading end-->
<div class="wrapper" ng-show="stateFactory.query">
    <div class="row">
        <div class="panel">
            <div class="panel-body">
				<form action="" class="form form-horizontal">
					<div class="row">
						<div class="col-md-8">
							<div class="form-group">
								<div class="col-md-6">
									<label for="" class="control-label col-md-4">订单号</label>
									<div class="col-md-8">
										<input type="text" class="form-control input-sm" ng-model="queryItem.orderCode">
									</div>
								</div>
								<div class="col-md-6">
									<label for="" class="control-label col-md-4">需求单位</label>
									<div class="col-md-8">
										<input type="text" class="form-control input-sm" ng-model="queryItem.demandAgencyName">
									</div>
								</div>
							</div>							
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<div class="form-group">
								<div class="col-md-12">
									<label for="" class="control-label col-md-2">收单时间</label>
									<div class="col-md-5">
										<input type="text" class="form-control input-sm" placeholder="开始日期" ng-model="queryItem.orderTimeStart" datetime-picker date-format="yyyy-MM-dd hh:mm:ss">
									</div>
									<div class="col-md-5">
										<input type="text" class="form-control input-sm" placeholder="结束日期"  ng-model="queryItem.orderTimeEnd" datetime-picker date-format="yyyy-MM-dd hh:mm:ss">
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
            </div>
            <div class="panel-footer clearfix">
            	<a href="javascript:;" class="btn btn-sm btn-primary pull-right" ng-click="queryAllOrdersWithDemandAgency()">查询</a>
            </div>
        </div>
    </div>
    <div class="row">
    	<div class="panel">
    		<div class="panel-body">
    			<table class="table table-bordered table-condensed">
    				<thead>
    					<tr>
    						<th>序号</th>
    						<th>拟交货时间</th>
    						<th>优先级</th>
    						<th>订单号</th>
    						<th>需求单位</th>
    						<th>订单摘要</th>
    						<th>订货品规数</th>
    						<th>操作</th>
    					</tr>
    				</thead>
    				<tbody>
    					<tr ng-repeat="item in goods|orderBy:'deliveryTime.time':true" repeatFinish＝"renderFinish()">
    						<td>{{$index+1}}</td>
    						<td>{{item.deliveryTime.time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
    						<td>{{item.level}}</td>
    						<td>{{item.orderCode}}</td>
    						<td>{{item.demandAgencyName}}</td>
    						<td>{{item.memo}}</td>
    						<td>{{item.orderNumber}}</td>
    						<td>
    							<a href="javascript:;" ng-click="changeState('print',item.orderCode)">打印拣货单</a>
    							<a href="javascript:;" ng-click="changeState('record',item.orderCode)">拣货纪录</a>
    						</td>
    					</tr>
    				</tbody>
    			</table>
    		</div>
    	</div>
    </div>
</div>

<!-- 打印页面 -->
<div class="wrapper" ng-show="stateFactory.print">
	<div class="row">
		<div class="panel">
			<div class="panel-heading">
				<a href="javascript:;" class="btn btn-sm btn-primary" ng-click="changeState('query')">返回</a>
				<a href="#/print/allocate/goods/?items={{printOrders}}" target="_blank" class="btn btn-sm btn-primary">批量打印</a>
				<!-- <a href="javascript:;" ng-click="addPrintList(-1)" class="btn btn-sm btn-primary">批量打印</a> -->
			</div>
		</div>
	</div>
	<div class="row" ng-repeat="item in printOrders" repeatFinish＝"renderFinish()">
		<div class="panel">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6">
						<p>共拆分为<span>{{printOrders.length}}</span>个拣货单，本单为第<span>{{$index+1}}</span>单</p>
					</div>
					<div class="col-md-4 text-right clearfix">
						<div id="{{item.pickListCode}}" data-seri="" class="barcodeImg pull-right"></div>
						<div style="width: 264px;">{{item.pickListCode}}</div>
					</div>
					<div class="col-md-2 text-right">
						<a href="#/print/allocate/goods/?items={{item}}" target="_blank" class="btn btn-sm btn-primary">打印</a>
						<!-- <a ui-sref="print.allocateGoods:$index" target="_blank"  ng-click="addPrintList($index)" class="btn btn-sm btn-primary">打印</a> -->
					</div>
				</div>
			</div>
			<div class="panel-heading">
				<form action="" class="form form-horizontal">
					<div class="row">
						<div class="form-group">
							<div class="col-md-4">
								<label class="col-md-4 control-label">订单号</label>
								<div class="col-md-8">
									<label for="" class="form-control">{{item.orderCode}}</label>
								</div>
							</div>
							<div class="col-md-offset-4 col-md-4">
								<label class="col-md-4 control-label">拣货单号</label>
								<div class="col-md-8">
									<label for="" class="form-control">{{item.pickListCode}}</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<div class="col-md-4">
								<label class="col-md-4 control-label">拣货仓库</label>
								<div class="col-md-8">
									<label for="" class="form-control">{{item.pickListDepot}}</label>
								</div>
							</div>
							<div class="col-md-4">
								<label class="col-md-4 control-label">拣货区</label>
								<div class="col-md-8">
									<label for="" class="form-control">{{item.pickListCargoArea}}</label>
								</div>
							</div>
							<div class="col-md-4">
								<label class="col-md-4 control-label">拣货员</label>
								<div class="col-md-8">
									<label for="" class="form-control">{{item.pickListPerson}}</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<div class="col-md-4">
								<label class="col-md-4 control-label">品规数</label>
								<div class="col-md-8">
									<label for="" class="form-control">{{item.specifications}}</label>
								</div>
							</div>
							<div class="col-md-4">
								<label class="col-md-4 control-label">总件数</label>
								<div class="col-md-8">
									<label for="" class="form-control">{{item.total}}</label>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-condensed">
					<thead>
						<tr>
							<th>序号</th>
							<th>药材编码</th>
							<th>通用名</th>
							<th>规格</th>
							<th>型号</th>
							<th>厂家</th>
							<th>计量单位</th>
							<th>货位码</th>
							<th>拣货数量</th>
							<th>备注</th>
						</tr>
					</thead>
					<tbody ng-repeat="detail in item.products">
						<tr>
							<td>{{$index+1}}</td>
							<td>{{detail.productCode}}</td>
							<td>{{detail.ordinaryName}}</td>
							<td>{{detail.specifications}}</td>
							<td>{{detail.model}}</td>
							<td>{{detail.manufactor}}</td>
							<td>{{detail.unit}}</td>
							<td>{{detail.locatorCode}}</td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
</div>
<!-- 打印页面 end -->

<!-- 纪录页面 -->
<div class="wrapper" ng-show="stateFactory.record">
	<div class="row">
		<div class="panel">
			<div class="panel-heading">
				<a href="javascript:;" class="btn btn-sm btn-primary" ng-click="changeState('query')">返回</a>
			</div>
			<div class="panel-heading">
				<div class="row">
					<div class="form-group">
						<div class="col-md-4">
							<label for="" class="col-md-4 control-label">订单号</label>
							<div class="col-md-8">{{OrderNote.orderCode}}</div>
						</div>
						<div class="col-md-4">
							<label for="" class="col-md-4 control-label">配货时间</label>
							<div class="col-md-8">{{OrderNote.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
						</div>
						<div class="col-md-4 text-right">
							<a href="javascript:;" class="btn btn-sm btn-primary pull-right" ng-click="updateOrderNote()">保存</a>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-heading clearfix">
			</div>
			<div class="panel-body">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>序号</th>
							<th>药材编码</th>
							<th>通用名</th>
							<th>规格</th>
							<th>型号</th>
							<th>厂家</th>
							<th>计量单位</th>
							<th>货位码</th>
							<th>拣货数量</th>
							<th>拣货员</th>
							<th>拣货纪录</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="detail in OrderNote.pickListItems">
							<td>{{$index+1}}</td>
							<td>{{detail.product.productCode}}</td>
							<td>{{detail.product.ordinaryName}}</td>
							<td>{{detail.product.specifications}}</td>
							<td>{{detail.product.model}}</td>
							<td>{{detail.product.manufactor}}</td>
							<td>{{detail.product.unit}}</td>
							<td>{{detail.product.locatorCode}}</td>
							<td>{{detail.pickListNumber}}</td>
							<td></td>
							<td>
								<input type="text" class="form-control input-sm" ng-model="detail.pickListRecord">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- 纪录页面 end -->