<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="#">集货管理</a>
        </li>
        <li class="active"> 库存查询 </li>
    </ul>
</div>
<!-- page heading end-->
<div class="wrapper">
	<div class="row">
		<div class="panel">
			<div class="panel-body">
				<form action="" class="form form-horizontal">
					<div class="form-group">
						<div class="col-md-3"><input type="text" class="form-control input-sm"></div>
						<a href="javascript:;" class="btn btn-sm btn-primary">库存查询</a>
					</div>						
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label for="" class="control-label col-md-4">库存状态</label>
								<div class="col-md-8">
									<select class="form-control input-sm">
										<option value="">正常</option>
										<option value="">不足</option>
										<option value="">超量</option>
									</select>
									
								</div>
							</div>
						</div>
					</div>
				</form>
				<table class="table table-condensed table-bordered">
					<tr>
						<th>选择</th>
						<th>序号</th>
						<th>药材名称</th>
						<th>药材编号</th>
						<th>规格</th>
						<th>型号</th>
						<th>计量单位</th>
						<th>厂家</th>
						<th>单价</th>
						<th>库存量</th>
						<th>库存状态</th>
						<th>缺货量</th>
					</tr>
					<tr>
						<td><input type="checkbox"></input></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>				
			</div>
			<div class="panel-footer clearfix">
				<a href="javascript:;" class="btn btn-sm btn-primary pull-right">添加</a>
			</div>			
		</div>
	</div>
	<div class="row">
		<div class="panel">
			<div class="panel-heading">筹措清单</div>
			<div class="panel-body">
				<table class="table table-condensed table-bordered">
					<tr>
						<th>序号</th>
						<th>药材名称</th>
						<th>药材编号</th>
						<th>规格</th>
						<th>型号</th>
						<th>计量单位</th>
						<th>厂家</th>
						<th>单价</th>
						<th>供应商</th>
						<th>订购量</th>
						<th>操作</th>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>
							<a href="javascript:;" class="btn btn-xs btn-primary"><i class="fa fa-check"></i></a>
							<a href="javascript:;" class="btn btn-xs btn-primary"><i class="fa fa-times"></i></a>
						</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>
							<a href="javascript:;" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i></a>
							<a href="javascript:;" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
						</td>
					</tr>
				</table>
			</div>
			<div class="panel-footer clearfix">
				<a href="javascript:;" class="btn btn-sm btn-primary pull-right">确认</a>
			</div>
		</div>
	</div>
</div>			
