<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="#">集货管理</a>
        </li>
        <li class="active"> 库存查询 </li>
    </ul>
</div>
<!-- page heading end-->
<div class="wrapper">
	<div class="row">
		<div class="panel">
			<div class="panel-body">
				<form action="" class="form form-horizontal">
					<div class="form-group">
						<div class="col-md-3"><input type="text" class="form-control input-sm"></div>
						<a href="javascript:;" class="btn btn-sm btn-primary">库存查询</a>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label for="" class="control-label col-md-4">库存状态</label>
								<div class="col-md-8">
									<select class="form-control input-sm">
										<option value=""></option>
									</select>
									
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="" class="control-label col-md-4">效期状态</label>
								<div class="col-md-8">
									<select class="form-control input-sm">
										<option value=""></option>
									</select>
									
								</div>
							</div>
						</div>
					</div>
				</form>
				<table class="table table-condensed table-bordered">
					<tr>
						<th>分类</th>
						<th>药材名称</th>
						<th>药材编号</th>
						<th>规格型号</th>
						<th>单位</th>
						<th>厂家</th>
						<th>批号</th>
						<th>单价</th>
						<th>库存价值</th>
						<th>数量</th>
						<th>同类累计</th>
						<th>人份量</th>
						<th>人份累计</th>
						<th>库存预警量</th>
					</tr>
				</table>
				<div class="text-right">
					<ul class="pagination pagination-sm">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li class="active"><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
				</div>
			</div>
		</div>
	</div>
</div>