<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="#">集货管理</a>
        </li>
        <li class="active"> 库存查询 </li>
    </ul>
</div>
<!-- page heading end-->
<div class="wrapper">
	<div class="row">
		<div class="panel">
			<div class="panel-body">
				<form action="" class="form form-horizontal">
					<div class="col-md-4">
						<div class="form-group">
							<label for="" class="control-label col-md-4">库存状态</label>
							<div class="col-md-8">
								<select ng-model="defaultSelect.value" class="form-control input-sm" ng-change="getValue()"
                    						ng-options="x.value as x.name for x in inventStatus">               
            					</select>
							</div>
						</div>							
					</div>
					<div class="col-md-8">
						<div class="form-group">
							<div class="col-md-3"><input type="text" class="form-control input-sm" ng-model="qureyValue"></div>
							<a href="javascript:;" class="btn btn-sm btn-primary" ng-click="queryStorage()">库存查询</a>
						</div>							
					</div>
				</form>
				<table class="table table-condensed table-bordered">
					<tr>
						<th>选择</th>
						<th>序号</th>
						<th>药材名称</th>
						<th>药材编号</th>
						<th>规格</th>
						<th>型号</th>
						<th>计量单位</th>
						<th>厂家</th>
						<th>单价</th>
						<th>库存量</th>
						<th>最小库存</th>
						<th>最大库存</th>
						<th>库存水平</th>
						<th>库存状态</th>
						<th>建议订货量</th>
					</tr>
					
					<tr ng-repeat="item in storageList | orderBy:'status.value':false" class="{{item.status.color}}">
						<td class="text-center"><input type="checkbox" id={{item.medicCode}} name="{{item.medicName}}" ng-checked="isSelected(item.medicCode)" ng-click="updateSelection($event,item)"></input></td>
						<td>{{$index+1}}</td>
						<td>{{item.medicName}}</td>
						<td>{{item.medicCode}}</td>
						<td>{{item.spec}}</td>
						<td>{{item.type}}</td>
						<td>{{item.unit}}</td>
						<td>{{item.vender}}</td>
						<td>{{item.price | number:2}}</td>
						<td>{{item.inventory}}</td>
						<td>{{item.minInvent}}</td>
						<td>{{item.maxInvent}}</td>
						<td>{{item.inventory/item.maxInvent *100 | number:2}}%</td>
						<td>{{item.status.name}}</td>
						<td>{{item.approvalNumber}}</td>
					</tr>
				</table>				
			</div>
			<div class="panel-footer clearfix">
				<a href="javascript:;" class="btn btn-sm btn-primary pull-right" ng-click="addInventory()">添加</a>
			</div>			
		</div>
	</div>
	<div class="row">
		<div class="panel">
			<div class="panel-heading">筹措清单</div>
			<div class="panel-body">
				<table class="table table-condensed table-bordered">
					<tr>
						<th class="col-md-1">序号</th>
						<th class="col-md-1">药材名称</th>
						<th class="col-md-1">药材编号</th>
						<th class="col-md-1">规格</th>
						<th class="col-md-1">型号</th>
						<th class="col-md-1">计量单位</th>
						<th class="col-md-1">厂家</th>
						<th class="col-md-1">单价</th>
						<th class="col-md-1">供应商</th>
						<th class="col-md-1">订购量</th>
						<th class="col-md-1">操作</th>
					</tr>
					<tr ng-repeat="item in inventList">
						<td>{{$index+1}}</td>
						<td>{{item.medicName}}</td>
						<td>{{item.medicCode}}</td>
						<td>{{item.spec}}</td>
						<td>{{item.type}}</td>
						<td>{{item.unit}}</td>
						<td>{{item.vender}}</td>
						<td>{{item.price | number:2}}</td>
						<td>{{item.supplier}}</td>
						<td><input type="number" class="form-control input-sm" ng-model="item.approvalNumber" ng-disabled="editDisabled"></td>
						<td ng-if="editDisabled">
							<a href="javascript:;" class="btn btn-xs btn-primary"><i class="fa fa-edit" ng-click="editOrderAmount()"></i></a>
							<a href="javascript:;" class="btn btn-xs btn-danger"><i class="fa fa-times" ng-click="remove($index)"></i></a>
						</td>
						<td ng-if="!editDisabled">
							<a href="javascript:;" class="btn btn-xs btn-primary"><i class="fa fa-check" ng-click="save()"></i></a>
							<a href="javascript:;" class="btn btn-xs btn-danger"><i class="fa fa-minus-circle" ng-click="cancel($index)"></i></a>
						</td>
					</tr>
				</table>
			</div>
			<div class="panel-footer clearfix">
				<a href="javascript:;" class="btn btn-sm btn-primary pull-right" ng-click="confirmInventory()">确认</a>
			</div>
		</div>
	</div>
</div>			
