<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="#">集货管理</a>
        </li>
        <li class="active"> 库存查询 </li>
    </ul>
</div>
<!-- page heading end-->
<div class="wrapper">
	<div class="row">
		<div class="panel">
			<div class="panel-body">
				<form action="" class="form form-horizontal">
					<div class="form-group">
						<div class="col-md-3"><input type="text" class="form-control input-sm"></div>
						<a href="javascript:;" class="btn btn-sm btn-primary">库存查询</a>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label for="" class="control-label col-md-4">库存状态</label>
								<div class="col-md-8">
									<select class="form-control input-sm">
										<option value=""></option>
									</select>
									
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="" class="control-label col-md-4">效期状态</label>
								<div class="col-md-8">
									<select class="form-control input-sm">
										<option value=""></option>
									</select>
									
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="" style="width: 100%; overflow-x: scroll;">
					<div class="" style="width: 1500px;">
						<ul class="tbl">
							<li class="item">
								<div class="tt">分类</div>
								<ul class="cnt">
									<li class="item">
										<div class="tt">ii</div>
										<ul class="cnt detail">
											<li class="w5">药材名称</li>
											<li class="w5">药材编号</li>
											<li class="w5">规格型号</li>
											<li class="w5">单位</li>
											<li class="w5">厂家</li>
											<li class="w5">批号</li>
											<li class="w5">单价</li>
											<li class="w5">库存价值</li>
											<li class="w5">数量</li>
											<li class="w5">同类累计</li>
											<li class="w5">人份量</li>
											<li class="w5">人份累计</li>
											<li class="w8">库存预警量</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>						
						<ul class="tbl">
							<li class="item clearfix">
								<div class="tt">战救药材</div>
								<ul class="cnt">
									<li class="item clearfix">
										<div class="tt">团基数</div>
										<ul class="cnt detail">
											<li class="w5">1</li>
											<li class="w5">2</li>
											<li class="w5">3</li>
											<li class="w5">4</li>
											<li class="w5">5</li>
											<li class="w5">1</li>
											<li class="w5">2</li>
											<li class="w5">3</li>
											<li class="w5">4</li>
											<li class="w5">5</li>
											<li class="w5">3</li>
											<li class="w5">4</li>
											<li class="w8">5</li>
										</ul>
										<ul class="cnt detail">
											<li class="w5">1</li>
											<li class="w5">2</li>
											<li class="w5">3</li>
											<li class="w5">4</li>
											<li class="w5">5</li>
											<li class="w5">1</li>
											<li class="w5">2</li>
											<li class="w5">3</li>
											<li class="w5">4</li>
											<li class="w5">5</li>
											<li class="w5">3</li>
											<li class="w5">4</li>
											<li class="w8">5</li>
										</ul>
									</li>
									<li class="item">
										<div class="tt">团基数</div>
										<ul class="cnt detail">
											<li class="w5">1</li>
											<li class="w5">2</li>
											<li class="w5">3</li>
											<li class="w5">4</li>
											<li class="w5">5</li>
											<li class="w5">1</li>
											<li class="w5">2</li>
											<li class="w5">3</li>
											<li class="w5">4</li>
											<li class="w5">5</li>
											<li class="w5">3</li>
											<li class="w5">4</li>
											<li class="w8">5</li>
										</ul>
										<ul class="cnt detail">
											<li class="w5">1</li>
											<li class="w5">2</li>
											<li class="w5">3</li>
											<li class="w5">4</li>
											<li class="w5">5</li>
											<li class="w5">1</li>
											<li class="w5">2</li>
											<li class="w5">3</li>
											<li class="w5">4</li>
											<li class="w5">5</li>
											<li class="w5">3</li>
											<li class="w5">4</li>
											<li class="w8">5</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="item">
								<div class="tt">战救药材</div>
								<ul class="cnt">
									<li class="item">
										<div class="tt">团基数</div>
										<ul class="cnt detail">
											<li class="w5">1</li>
											<li class="w5">2</li>
											<li class="w5">3</li>
											<li class="w5">4</li>
											<li class="w5">5</li>
											<li class="w5">1</li>
											<li class="w5">2</li>
											<li class="w5">3</li>
											<li class="w5">4</li>
											<li class="w5">5</li>
											<li class="w5">3</li>
											<li class="w5">4</li>
											<li class="w8">5</li>
										</ul>
										<ul class="cnt detail">
											<li class="w5">1</li>
											<li class="w5">2</li>
											<li class="w5">3</li>
											<li class="w5">4</li>
											<li class="w5">5</li>
											<li class="w5">1</li>
											<li class="w5">2</li>
											<li class="w5">3</li>
											<li class="w5">4</li>
											<li class="w5">5</li>
											<li class="w5">3</li>
											<li class="w5">4</li>
											<li class="w8">5</li>
										</ul>
									</li>
									<li class="item">
										<div class="tt">团基数</div>
										<ul class="cnt detail">
											<li class="w5">1</li>
											<li class="w5">2</li>
											<li class="w5">3</li>
											<li class="w5">4</li>
											<li class="w5">5</li>
											<li class="w5">1</li>
											<li class="w5">2</li>
											<li class="w5">3</li>
											<li class="w5">4</li>
											<li class="w5">5</li>
											<li class="w5">3</li>
											<li class="w5">4</li>
											<li class="w8">5</li>
										</ul>
										<ul class="cnt detail">
											<li class="w5">1</li>
											<li class="w5">2</li>
											<li class="w5">3</li>
											<li class="w5">4</li>
											<li class="w5">5</li>
											<li class="w5">1</li>
											<li class="w5">2</li>
											<li class="w5">3</li>
											<li class="w5">4</li>
											<li class="w5">5</li>
											<li class="w5">3</li>
											<li class="w5">4</li>
											<li class="w8">5</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>					
					</div>					
				</div>


				<div class="text-right">
					<ul class="pagination pagination-sm">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li class="active"><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
				</div>
			</div>
		</div>
	</div>
</div>