<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="#">集货管理</a>
        </li>
        <li class="active"> 库存查询 </li>
    </ul>
</div>
<!-- page heading end-->
<div class="wrapper">
	<div class="row">
		<div class="panel">
			<div class="panel-body">
				<form action="" class="form form-horizontal">
					<div class="col-md-4">
						<div class="form-group">
							<label for="" class="control-label col-md-4">库存状态</label>
							<div class="col-md-8">
								<select ng-model="defaultSelect.value" class="form-control input-sm" ng-change="getValue()"
                    						ng-options="x.value as x.name for x in inventStatus">               
            					</select>
								
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="form-group">
							<div class="col-md-3"><input type="text" class="form-control input-sm"></div>
							<a href="javascript:;" class="btn btn-sm btn-primary">库存查询</a>
						</div>						
					</div>
				</form>
				<table class="table table-condensed table-bordered">
					<tr>
						<th>选择</th>
						<th>序号</th>
						<th>药材名称</th>
						<th>药材编号</th>
						<th>规格</th>
						<th>型号</th>
						<th>计量单位</th>
						<th>厂家</th>
						<th>货位</th>
						<th>箱号</th>
						<th>单价</th>
						<th>库存量</th>
						<th>库存价值</th>
						<th>最小库存</th>
						<th>最大库存</th>
						<th>库存水平</th>
						<th>库存状态</th>
					</tr>
					<tr ng-repeat="item in storageList | orderBy:'status.value':false" class="{{item.status.color}}">
						<td class="text-center"><input type="checkbox"></td>
						<td>{{$index+1}}</td>
						<td>{{item.medicName}}</td>
						<td>{{item.medicCode}}</td>
						<td>{{item.spec}}</td>
						<td>{{item.type}}</td>
						<td>{{item.unit}}</td>
						<td>{{item.vender}}</td>
						<td>{{item.location}}</td>
						<td>{{item.boxNum}}</td>
						<td>{{item.price}}</td>
						<td>{{item.inventory}}</td>
						<td>{{item.inventValue}}</td>
						<td>{{item.minInvent}}</td>
						<td>{{item.maxInvent}}</td>
						<td>{{item.inventLevel*100 +"%" }}</td><!--| percentage:2:"$"-->
						<td>{{item.status.name}}</td>
					</tr>
				</table>

				<div class="text-right">
					<ul class="pagination pagination-sm">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li class="active"><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
				</div>
			</div>
		</div>
	</div>
</div>