<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="#">药材管理</a>
        </li>
        <li class="active"> 药材字典 </li>
    </ul>
</div>
<!-- page heading end-->
<div class="wrapper" ng-if="!detailState">
    <div class="row">
        <div class="panel">    
            <div class="panel-body">
                <div class="form form-horizontal">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">药材名称</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="queryInfo.medName">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="col-md-4 control-label">分类</label>
                                <div class="col-md-8">
                                    <select name="" id="" class="form-control" ng-model="queryInfo.medType">
                                        <option value="">----</option>
                                        <option value="1">----</option>
                                        <option value="2">----</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <a href="javascript:;" ng-click="queryMed()" class="btn btn-sm btn-primary" >查询</a>
                        </div>    
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
            <div class="panel-heading clearfix">
                <div class="pull-right">
                    <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="openSingleDetail()">新增</a>
                    <a href="javascript:;" class="btn btn-sm btn-primary">删除</a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>选择</th>
                            <th>序号</th>
                            <th>综合类型</th>
                            <th>一级类</th>
                            <th>二级类</th>
                            <th>标识码</th>
                            <th>对照码</th>
                            <th>通用名</th>
                            <th>商品名</th>
                            <th>规格</th>
                            <th>型号</th>
                            <th>厂家</th>
                            <th>计量单位</th>
                            <th>转换比</th>
                            <th>操作</th>
                        </tr>                        
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in medList">
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>{{$index+1}}</td>
                            <td>{{item.synType}}</td>
                            <td>{{item.synType}}</td>
                            <td>{{item.synType}}</td>
                            <td>{{item.synType}}</td>
                            <td>{{item.synType}}</td>
                            <td>{{item.synType}}</td>
                            <td>{{item.synType}}</td>
                            <td>{{item.synType}}</td>
                            <td>{{item.synType}}</td>
                            <td>{{item.synType}}</td>
                            <td>{{item.synType}}</td>
                            <td>{{item.synType}}</td>
                            <td>
                                <a href="javascript:;" class="btn btn-xs btn-primary" ng-click="showDetails(item)">明细</a>
                            </td>
                        </tr>                        
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
<div class="wrapper" ng-if="detailState">
    <div class="row">
        <div class="panel">
            <div class="panel-heading clearfix">
                药材明细信息
                <div class=" pull-right">
                    <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="backToQuery()">返回查询</a>
                    <a href="javascript:;" class="btn btn-sm btn-primary">修改</a>
                    <a href="javascript:;" class="btn btn-sm btn-primary">保存</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                类型
            </div>
            <div class="panel-body">
                <form action="" class="form form-horizontal">   
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">类型</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                编码
            </div>
            <div class="panel-body">
                <form action="" class="form form-horizontal">   

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">标识码</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">对照码</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">统一商品编码</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">拼音码</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                品规
            </div>
            <div class="panel-body">
                <form action="" class="form form-horizontal">   
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">通用名</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">规格</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">剂型</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">计量单位</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                商品
            </div>
            <div class="panel-body">
                <form action="" class="form form-horizontal">   
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">商品名</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">厂家</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">厂家标识码</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">型号</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">批准文号</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">零售包装计量单位</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">零售包装转换比</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">零售包装价格</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">零售包装重量</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">零售包装体积</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">零售包装材料</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                分类
            </div>
            <div class="panel-body">
                <form action="" class="form form-horizontal">   
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">一级类</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">二级类</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">三级类</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">管理分类</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                使用
            </div>
            <div class="panel-body">
                <form action="" class="form form-horizontal">   
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">用量单位</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">次平均用量</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">日平均用量</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">日最大用量</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                包装
            </div>
            <div class="panel-body">
                <form action="" class="form form-horizontal">   
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">大包装计量单位</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">打包零包转换比</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">大包装重量</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">大包装体积</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">大包装长</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">大包装宽</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">大包装高</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">大包装材料</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                贮存
            </div>
            <div class="panel-body">
                <form action="" class="form form-horizontal">   
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">贮存条件</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">有效期</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                库存
            </div>
            <div class="panel-body">
                <form action="" class="form form-horizontal">   
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">库存下限</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">库存上限</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">货位码</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                收录
            </div>
            <div class="panel-body">
                <form action="" class="form form-horizontal">   
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">标准1</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">标准2</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">标准3</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">标准4</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">标准5</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                成套
            </div>
            <div class="panel-body">
                <form action="" class="form form-horizontal">   
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">成套品规数</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">成套箱类型</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">成套箱数</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">单箱体积</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">成套体积</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">成套价格</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">成套重量</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="midware.barCode">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>