<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="#">配送管理</a>
        </li>
        <li class="active"> 运输管理 </li>
    </ul>
</div>
<!-- page heading end-->
<div class="wrapper">
	<div class="row">
		<div class="panel">
			<div class="panel-body">
				<table class="table table-condensed table-bordered">
					<tr>
						<th class="col-md-2">订单编号</th>
						<th class="col-md-2">收货地址</th>
						<th class="col-md-1">总里程</th>
						<th class="col-md-1">完成里程</th>
						<th class="col-md-2">预计到达时间</th>
						<th class="col-md-4">进程</th>
					</tr>
					<tr>
						<td>20191029283</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>
							<div class="progress progress-xs">
                        		<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
		                            <span class="">70%</span>
		                        </div>
		                    </div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>