<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="#">配送管理</a>
        </li>
        <li class="active"> 车辆管理 </li>
    </ul>
</div>
<!-- page heading end-->
<div class="wrapper">
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <div class="col-md-2">
                    <a href="javascript:;" class="text-center">
                        <img src="./src/images/Truck.png" alt="" class="img-responsive center-block">
                        <p class="text-center">1</p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="javascript:;" class="text-center">
                        <img src="./src/images/Truck.png" alt="" class="img-responsive center-block">
                        <p class="text-center">2</p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="javascript:;" class="text-center">
                        <img src="./src/images/Truck.png" alt="" class="img-responsive center-block">
                        <p class="text-center">3</p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="javascript:;" class="text-center">
                        <img src="./src/images/Truck.png" alt="" class="img-responsive center-block">
                        <p class="text-center">4</p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="javascript:;" class="text-center">
                        <img src="./src/images/Truck.png" alt="" class="img-responsive center-block">
                        <p class="text-center">5</p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="javascript:;" class="text-center">
                        <img src="./src/images/Truck.png" alt="" class="img-responsive center-block">
                        <p class="text-center">6</p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="javascript:;" class="text-center">
                        <img src="./src/images/Truck.png" alt="" class="img-responsive center-block">
                        <p class="text-center">7</p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="javascript:;" class="text-center">
                        <img src="./src/images/Truck.png" alt="" class="img-responsive center-block">
                        <p class="text-center">8</p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="javascript:;" class="text-center">
                        <img src="./src/images/Truck.png" alt="" class="img-responsive center-block">
                        <p class="text-center">9</p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="javascript:;" class="text-center">
                        <img src="./src/images/Truck.png" alt="" class="img-responsive center-block">
                        <p class="text-center">10</p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="javascript:;" class="text-center">
                        <img src="./src/images/Truck.png" alt="" class="img-responsive center-block">
                        <p class="text-center">11</p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="javascript:;" class="text-center">
                        <img src="./src/images/Truck.png" alt="" class="img-responsive center-block">
                        <p class="text-center">12</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <section class="panel">
            <div class="panel-heading">
                <form action="" role="form" class="form-horizontal">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="col-md-4 control-label">车辆查询</label>
                                <div class="col-md-8"><input type="text" class="form-control input-sm" placeholder="车型/车牌" ng-model="carTypeFilter"></div>      
                            </div>
                        </div>
                        <div class="col-md-1">
                            <a class="btn btn-primary btn-sm pull-right" ng-click="queryCars(carTypeFilter)">查询</a>
                        </div>
                    </div>    
                </form>           
            </div>

            <div class="panel-heading clearfix">
                <a href="javascript:;" class="btn btn-xs btn-primary pull-right" ng-click="iptToggle(true)"><i class="fa fa-plus"></i></a> 
            </div>
            <div class="panel-body">
                <section id="unseen">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                        <tr>
                            <th class="col-md-1">车辆编号</th>
                            <th class="col-md-1">车牌号</th>
                            <th class="col-md-1">车名</th>
                            <th class="col-md-1">车型</th>
                            <th class="col-md-1">所属单位</th>
                            <th class="col-md-1">尺寸</th>
                            <th class="col-md-1">载重</th>
                            <th class="col-md-1">容积限制</th>
                            <th class="col-md-1">司机</th>
                            <th class="col-md-1">状态</th>
                            <th class="col-md-1">备注</th>
                            <th class="col-md-1">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-show="iptState">
                            <td><input type="text" class="form-control input-sm" ng-model="newItem.carCode"></td>
                            <td><input type="text" class="form-control input-sm" ng-model="newItem.carNumber"></td>
                            <td><input type="text" class="form-control input-sm" ng-model="newItem.carName"></td>
                            <td><input type="text" class="form-control input-sm" ng-model="newItem.carType"></td>
                            <td><input type="text" class="form-control input-sm" ng-model="newItem.carUnit"></td>
                            <td>
                                <input type="text" class="ipt-sm" ng-model="newItem.carLength" placeholder="长">
                                <input type="text" class="ipt-sm" ng-model="newItem.carWidth" placeholder="宽">
                                <input type="text" class="ipt-sm" ng-model="newItem.carHeigth" placeholder="高">
                            </td>
                            <td><input type="text" class="form-control input-sm " ng-model="newItem.maxWeight"></td>
                            <td><input type="text" class="form-control input-sm" ng-model="newItem.carVolume"></td>
                            <td><input type="text" class="form-control input-sm" ng-model="newItem.carDriver"></td>
                            <td></td>
                            <td><input type="text" class="form-control input-sm" ng-model="newItem.memo"></td>
                            <td>
                                <a href="javascript:;" class="btn btn-xs btn-primary" ng-click="iptSave(newItem)"><i class="fa fa-check"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-danger" ng-click="iptToggle(false)"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        <tr ng-repeat="item in vehicleList.cars ">   <!--| filter:carTypeFilter-->
                            <td>{{item.carCode}}</td>
                            <td>{{item.carNumber}}</td>
                            <td>{{item.carName}}</td>
                            <td>{{item.carType}}</td>
                            <td>{{item.carUnit}}</td>
                            <td>{{item.carLength+'x'+item.carWidth+'x'+item.carHeigth}}</td>
                            <td>{{item.maxWeight}}</td>
                            <td>{{item.carVolume}}</td>
                            <td>{{item.carDriver}}</td>
                            <td>{{item.carStatus}}</td>
                            <td>{{item.memo}}</td>
                            <td>
                                <a href="javascript:;" class="btn btn-xs btn-primary" ng-click="showDetail($index,item)"><i class="fa fa-edit"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-danger" ng-click="rmItem($index,item.id)"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </section>
    </div>    
</div>
<div class="modal" ng-class="{show: modalState}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancelChange()">&times;</button>
                <h4 class="modal-title">Edit Media Gallery</h4>
            </div>
            <div class="modal-body form form-horizontal">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="" class="col-md-5">车辆编号</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control input-sm" ng-model="tempItem.carCode" value="{{tempItem.carCode}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="" class="col-md-5">车牌号</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control input-sm" ng-model="tempItem.carNumber" value="{{tempItem.carNumber}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="" class="col-md-5">车名</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control input-sm" ng-model="tempItem.carName" value="{{tempItem.carName}}">
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="row">
                     <div class="col-md-4">
                        <div class="form-group">
                            <label for="" class="col-md-5">车型</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control input-sm" ng-model="tempItem.carType" value="{{tempItem.carType}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="" class="col-md-5">所属单位</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control input-sm" ng-model="tempItem.carUnit" value="{{tempItem.carUnit}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="" class="col-md-5">司机</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control input-sm" ng-model="tempItem.carDriver" value="{{tempItem.carDriver}}">
                            </div>
                        </div>
                    </div>                
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="" class="col-md-5">载重</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control input-sm" ng-model="tempItem.maxWeight" value="{{tempItem.maxWeight}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="" class="col-md-5">容积限制</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control input-sm" ng-model="tempItem.carVolume" value="{{tempItem.carVolume}}">
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="row">
                    
                    <div class="col-md-10">
                        <div class="form-group">
                            <label for="" class="col-md-2">尺寸</label>
                            <div class="col-md-4">
                                <input type="text" class="ipt-sm" ng-model="tempItem.carLength"  placeholder="长">
                                <input type="text" class="ipt-sm" ng-model="tempItem.carWidth"  placeholder="宽">
                                <input type="text" class="ipt-sm" ng-model="tempItem.carHeigth"  placeholder="高">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label for="" class="col-md-2">备注</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control input-sm" ng-model="tempItem.memo" value="{{tempItem.memo}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-primary" ng-click="saveChange()">保存</button>
                <button class="btn btn-sm btn-primary" ng-click="cancelChange()">关闭</button>
            </div>
        </div>
    </div>
</div>