<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="#">配送管理</a>
        </li>
        <li class="active"> 配载管理 </li>
    </ul>
</div>
<!-- page heading end-->
<div class="wrapper">
    <div class="row">
        <div class="panel">
            <div class="panel-body">
				<div class="col-md-6">
					<div class="progress progress-xs">
						<img src="./src/images/Truck.png" alt="">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                            <span class="">70%</span>
                        </div>
                    </div>
				</div>
				<div class="col-md-6">
					
				</div>
            </div>
        </div>
    </div>
    <div class="row">
    	<div class="panel">
    		<div class="panel-body">
    			<div class="col-md-6">
    				
    			</div>
    		</div>
    	</div>
    </div>
</div>