<!-- page heading start-->
<div class="page-heading">
<!--     <h3>
        Order
    </h3> -->
    <ul class="breadcrumb">
        <li>
            <a href="#">配送管理</a>
        </li>
        <li class="active"> 车辆管理 </li>
    </ul>
</div>
<!-- page heading end-->
<div class="wrapper">
    <div class="row">
        <div class="panel">
            <div class="panel-heading clearfix">
                <button class="btn btn-primary btn-sm pull-right">查询</button>
            </div>
            <div class="panel-body">
                <form action="" role="form" class="form-horizontal">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="col-md-4 control-label">订单编号</label>
                                <div class="col-md-8"><input type="text" class="form-control input-sm"></div>          
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                            <tr>
                                <th>车辆编号</th>
                                <th>车辆名称</th>
                                <th class="numeric">车辆单位</th>
                                <th class="numeric">车辆司机</th>
                                <th class="numeric">最大载重</th>
                                <th class="numeric">车厢体积</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>C0001 </td>
                                <td>1号车</td>
                                <td class="numeric">第1车队</td>
                                <td class="numeric">王二</td>
                                <td class="numeric">5000</td>
                                <td class="numeric">50</td>
                            </tr>
                            <tr>
                                <td>C0001 </td>
                                <td>1号车</td>
                                <td class="numeric">第1车队</td>
                                <td class="numeric">王二</td>
                                <td class="numeric">5000</td>
                                <td class="numeric">50</td>
                            </tr>
                            <tr>
                                <td>C0001 </td>
                                <td>1号车</td>
                                <td class="numeric">第1车队</td>
                                <td class="numeric">王二</td>
                                <td class="numeric">5000</td>
                                <td class="numeric">50</td>
                            </tr>
                            <tr>
                                <td>C0001 </td>
                                <td>1号车</td>
                                <td class="numeric">第1车队</td>
                                <td class="numeric">王二</td>
                                <td class="numeric">5000</td>
                                <td class="numeric">50</td>
                            </tr>
                            <tr>
                                <td>C0001 </td>
                                <td>1号车</td>
                                <td class="numeric">第1车队</td>
                                <td class="numeric">王二</td>
                                <td class="numeric">5000</td>
                                <td class="numeric">50</td>
                            </tr>
                            <tr>
                                <td>C0001 </td>
                                <td>1号车</td>
                                <td class="numeric">第1车队</td>
                                <td class="numeric">王二</td>
                                <td class="numeric">5000</td>
                                <td class="numeric">50</td>
                            </tr>

                            </tbody>
                        </table>
                    </section>
                </div>
            </section>
        </div>
    </div>    
</div>
