<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="#">机构管理</a>
        </li>
        <li class="active"> 需求机构 </li>
    </ul>
</div>
<!-- page heading end-->
<div class="wrapper" ng-show="!detailState">
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <form action="" class="form form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label for="" class="control-label col-md-4">机构名称</label>
                                    <div class="col-md-8"><input type="text" class="form-control input-sm" ng-model="demandAgencyName"></div>   
                                </div>
                                <div class="col-md-6">
                                    <label for="" class="control-label col-md-4">分类</label>
                                    <div class="col-md-8">
                                        <select ng-model="selectedName" ng-options="x for x in type" class="form-control">
									   </select>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer clearfix">
                <a href="javascript:;" class="btn btn-sm btn-primary pull-right" ng-click="queryDemandAgency()">查询</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
            <div class="panel-heading clearfix">
                <div class="pull-right">
                    <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="toggleAddState()">新增</a>
                    <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="delDemandAgency()">删除</a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-1">选择</th>
                            <th class="col-md-1">序号</th>
                            <th class="col-md-1">机构类型</th>
                            <th class="">机构名称</th>
                            <th class="col-md-1">机构代码</th>
                            <th class="">开设地点</th>
                            <th class="col-md-1">机构人数</th>
                            <th class="col-md-2">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in demandAgencyList" ng-dblclick="toggleDetailState(true,item,$index)">
                            <td class="text-center">
                                <input type="checkbox" name="radio" 
                                	   ng-checked="isSelected($index)"
                                	   ng-click="updateSelection($event,$index)">
                           
                            </td>
          
                            <td>{{$index+1}}</td>
                            <td>{{item.demandAgencyType}}</td>
                            <td>{{item.demandAgencyName}}</td>
                            <td>{{item.demandAgencyCode}}</td>
                            <td>{{item.demandAgencyAddress1}}</td>
                            <td>{{item.demandAgencyNumber}}</td>
                            <td>
                                <a href="javascript:;" class="btn btn-xs btn-primary" ng-click="editDemandAgency(item,$index)">修改</a>
                                <a href="javascript:;" class="btn btn-xs btn-primary" ng-click="toggleDetailState(true,item,$index)">明细</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="wrapper" ng-show="detailState">
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="toggleDetailState(false)"><i class="fa fa-reply"></i></a>
                {{demandAgency.demandAgencyName || 'xxx'}}机构情况
            </div>
            <div class="panel-heading clearfix">
                <span>{{demandAgency.demandAgencyName || 'xxx'}}基本信息</span>
                <div class="pull-right">
                    <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="toggleEditMode(!editMode)" ng-show="!addState">{{editMode == false ? '取消' : '修改'}}</a>
                    <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="saveAddOrDetailInfo()">保存</a>
                </div>
            </div>
            <div class="panel-body">
                <form action="" class="form form-horizontal">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">机构代码</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="demandAgency.demandAgencyCode" ng-disabled="editMode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">机构名称</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="demandAgency.demandAgencyName" ng-disabled="editMode">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">机构类型</label>
                                <div class="col-md-8">
                                	<select class="form-control" ng-model="demandAgency.demandAgencyType" ng-disabled="editMode">
											<option value="师救护所">师救护所</option>
											<option value="团救护所">团救护所</option>
											<option value="营救护所">营救护所</option>
											<option value="野战医疗所">野战医疗所</option>
											<option value="野战医疗队">野战医疗队</option>
											<option value="野战医院">野战医院</option>
											<option value="基地医院">基地医院</option>
									</select>
                                    <!--<input type="text" class="form-control input-sm" ng-model="demandAgency.demandAgencyType" ng-disabled="editMode">-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">机构级别</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="demandAgency.demandAgencyLevel" ng-disabled="editMode">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">开设地点</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="demandAgency.demandAgencyAddress1" ng-disabled="editMode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">机构地址</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="demandAgency.demandAgencyAddress2" ng-disabled="editMode">
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">机构坐标</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="demandAgency.demandAgencyCoordinate" ng-disabled="editMode">
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">机构人数</label>
                                <div class="col-md-8">
                                    <input type="number" class="form-control input-sm" ng-model="demandAgency.demandAgencyNumber" ng-disabled="editMode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">保障人数</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="demandAgency.demandAgencyProtect" ng-disabled="editMode">
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">联系人</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="demandAgency.contacts" ng-disabled="editMode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">联系电话</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="demandAgency.tel" ng-disabled="editMode">
                                </div>
                            </div>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>