<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="#">机构管理</a>
        </li>
        <li class="active"> 供应机构 </li>
    </ul>
</div>
<!-- page heading end-->

<div class="wrapper" ng-show="!detailState">
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <form action="" class="form form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label for="" class="control-label col-md-4">机构名称</label>
                                    <div class="col-md-8"><input type="text" class="form-control input-sm"></div>   
                                </div>
                                <div class="col-md-6">
                                    <label for="" class="control-label col-md-4">分类</label>
                                    <div class="col-md-8">
                                       <select ng-model="selectedName" ng-options="x for x in type" class="form-control">
									   </select>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer clearfix">
                <a href="javascript:;" class="btn btn-sm btn-primary pull-right">查询</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
            <div class="panel-heading clearfix">
                <div class="pull-right">
                    <a href="javascript:;" class="btn btn-sm btn-primary">新增</a>
                    <a href="javascript:;" class="btn btn-sm btn-primary">删除</a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-1">选择</th>
                            <th class="col-md-1">序号</th>
                            <th class="col-md-1">机构类型</th>
                            <th class="">机构名称</th>
                            <th class="col-md-1">机构代码</th>
                            <th class="">开设地点</th>
                            <th class="col-md-1">机构人数</th>
                            <th class="col-md-2">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  ng-dblclick="toggleDetailState(true)">
                            <td class="text-center">
                                <input type="checkbox" name="radio">
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <a href="javascript:;" class="btn btn-xs btn-primary">修改</a>
                                <a href="javascript:;"  ng-click="toggleDetailState(true)" class="btn btn-xs btn-primary">明细</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="wrapper" ng-show="detailState">
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="toggleDetailState(false)"><i class="fa fa-reply"></i></a>XX机构情况
            </div>
            <div class="panel-heading clearfix">
                <span>XX基本信息</span>
                <div class="pull-right">
                    <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="toggleEditMode(!editMode)">{{editMode == false ? '取消' : '修改'}}</a>
                    <a href="javascript:;" class="btn btn-sm btn-primary">保存</a>
                </div>
            </div>
            <div class="panel-body">
                <form action="" class="form form-horizontal">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">机构编号</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-disabled="editMode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">机构名称</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-disabled="editMode">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">机构类型</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-disabled="editMode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">级别</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-disabled="editMode">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">开设点</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-disabled="editMode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">地址</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-disabled="editMode">
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">位置坐标</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-disabled="editMode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">人数</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-disabled="editMode">
                                </div>
                            </div>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
            <div class="panel-heading clearfix">
                <span>XX岗位设置</span>
                <div class="pull-right">
                    <a href="javascript:;" class="btn btn-primary btn-sm" ng-click="toggleDetailState(false)"><i class="fa fa-reply"></i></a>
                    <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="toggleAddPosiState(true)">新增</a>
                    <a href="javascript:;" class="btn btn-sm btn-primary">保存</a>
                    <a href="javascript:;" class="btn btn-sm btn-primary">删除</a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-1">选择</th>
                            <th class="col-md-1">序号</th>
                            <th class="">编组</th>
                            <th class="">岗位角色</th>
                            <th class="">角色编号</th>
                            <th class="col-md-2">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="addPosiState">
                            <td></td>
                            <td></td>
                            <td>
                                <input type="text" class="form-control input-sm">
                            </td>
                            <td>
                                <input type="text" class="form-control input-sm">
                            </td>
                            <td>
                                <input type="text" class="form-control input-sm">
                            </td>
                            <td class="text-center">
                                <a href="javascript:;" class="btn btn-xs btn-primary">保存</a>
                                <a href="javascript:;" class="btn btn-xs btn-primary" ng-click="toggleAddPosiState(false)">取消</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input type="checkbox" name="radio">
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-center">
                                <a href="javascript:;" class="btn btn-xs btn-primary">修改</a>
                                <a href="javascript:;" class="btn btn-xs btn-primary">保存</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>