<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="#">配载管理</a>
        </li>
        <li class="active"> 配载查询 </li>
    </ul>
</div>
<!-- page heading end-->
<div class="wrapper" ng-if="stateFactory.query">
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <form action="" class="form form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label for="" class="control-label col-md-4">配载单号</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input-sm" ng-model="stowageCode">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label for="" class="control-label col-md-4">车辆编号</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input-sm" ng-model="carCode">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label for="" class="control-label col-md-4">订单号 </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input-sm" ng-model="orderCode">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer clearfix">
                <a href="javascript:;" class="btn btn-sm btn-primary pull-right" ng-click="findAllStowages()">查询</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
            <div class="panel-heading clearfix">
                <div class="pull-right">
                    <a href="javascript:;" class="btn btn-sm btn-primary">删除</a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-1">序号</th>
                            <th class="">任务路线</th>
                            <th class="">配载单号</th>
                            <th class="">车辆编号</th>
                            <th class="">车名</th>
                            <th class="">净容积</th>
                            <th class="">净载重</th>
                            <th class="">容积利用率</th>
                            <th class="">载重利用率</th>
                            <th class="col-md-2">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in stowages">
                            <td>{{$index+1}}</td>
                            <td>暂时空着</td>
                            <td>{{item.stowageCode}}</td>
                            <td>{{item.carCode}}</td>
                            <td>{{item.car.carName}}</td>
                            <td>{{item.car.carVolume}}</td>
                            <td>{{item.car.maxWeight}}</td>
                            <td>{{item.volumePercent}}</td>
                            <td>{{item.weightPercent}}</td>
                            <td class="text-center">
                                <a href="javascript:;" ng-click="changeState('print',item)">打印配载单</a>
                                <a href="javascript:;">删除</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- 打印 -->
<div class="wrapper" ng-show="stateFactory.print">
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="changeState('query')">返回</a>
            </div>
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-offset-6 col-md-4">
                        <div id="{{orderPrintInfo.stowageCode}}" data-seri="" class="barcodeImg pull-right">
                            {{orderPrintInfo.stowageCode}}
                        </div>
                        <div style="width: 264px;" class="text-right">{{orderPrintInfo.stowageCode}}</div>
                    </div>
                    <div class="col-md-2 text-right">
                        <a href="#/print/load/query/?items={{orderPrintInfo}}" target="_blank" class="btn btn-sm btn-primary">打印</a>
                    </div>
                </div>
            </div>
	        <div class="panel-body" id="print">
	            <form action="" class="form form-horizontal">
	                <div class="row">
	                    <div class="form-group">
	                        <div class="col-md-4">
	                            <label class="col-md-4 control-label">配载单号</label>
	                            <div class="col-md-8">
	                                <label for="" class="form-control">{{orderPrintInfo.stowageCode}}</label>
	                            </div>
	                        </div>
	                        <div class="col-md-offset-4 col-md-4">
	                            <label class="col-md-4 control-label">订单数</label>
	                            <div class="col-md-8">
	                                <label for="" class="form-control">{{orderPrintInfo.order.orderNumber}}</label>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="form-group">
	                        <div class="col-md-4">
	                            <label class="col-md-4 control-label">配送路线</label>
	                            <div class="col-md-8">
	                                <label for="" class="form-control">{{orderPrintInfo.transportRoute}}</label>
	                            </div>
	                        </div>
	                        <div class="col-md-4">
	                            <label class="col-md-4 control-label">车辆编号</label>
	                            <div class="col-md-8">
	                                <label for="" class="form-control">{{orderPrintInfo.car.carCode}}</label>
	                            </div>
	                        </div>
	                        <div class="col-md-4">
	                            <label class="col-md-4 control-label">车牌号</label>
	                            <div class="col-md-8">
	                                <label for="" class="form-control">{{orderPrintInfo.car.carNumber}}</label>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </form>
	        </div>
	        <div class="panel-body">
	            <table class="table table-bordered table-condensed">
	                <thead>
	                    <tr>
	                        <th>序号</th>
	                        <th>收货点</th>
	                        <th>拟交货时间</th>
	                        <th>订单号</th>
	                        <th>订单摘要</th>
	                        <th>收货地址</th>
	                        <th>联系人</th>
	                        <th>联系方式</th>
	                        <th>签收情况</th>
	                        <th>备注</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr>
	                        <td>1</td>
	                        <td>{{orderPrintInfo.order.receiptAddress}}</td>
	                        <td>{{orderPrintInfo.order.deliveryTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
	                        <td>{{orderPrintInfo.order.orderCode}}</td>
	                        <td></td>
	                        <td>{{orderPrintInfo.order.receiptAddress}}</td>
	                        <td>{{orderPrintInfo.order.receiver}}</td>
	                        <td>{{orderPrintInfo.order.tel}}</td>
	                        <td>{{orderPrintInfo.order.orderStatus}}</td>
	                        <td>{{orderPrintInfo.order.memo}}</td>
	                    </tr>
	                </tbody>
	            </table>
	        </div>            
        </div>

    </div>
</div>
</div>
