<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="#">配载管理</a>
        </li>
        <li class="active"> 选配货载 </li>
    </ul>
</div>
<!-- page heading end-->
<div class="wrapper">
	<div class="row">
		<div class="panel">
			<div class="panel-body">
				<div class="col-md-10">
					<table class="table table-condensed table-bordered">
						<thead>
							<tr>
								<th>配载车辆</th>
								<th>净容积</th>
								<th>净载重</th>
								<th>容积利用率</th>
								<th>载重利用率</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{stowage.carCode}}</td>
								<td>{{stowage.carVolume}}</td>
								<td>{{stowage.maxWeight}}</td>
								<td>{{stowage.volumePercent *100 | number:2}}%</td>
								<td>{{stowage.weightPercent *100 | number:2}}%</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-2">
					<a href="javascript:;" class="btn btn-sm btn-primary" ng-click="commit()">确认</a>
					<a href="javascript:;" class="btn btn-sm btn-primary" ng-click="cancel()">取消</a>
				</div>				
			</div>

		</div>
	</div>
	<div class="row">
		<div class="panel">
			<div class="panel-heading">
				待选车辆
			</div>
			<div class="panel-body">
				<table class="table table-condensed table-bordered">
					<thead>
						<tr>
							<th>序号</th>
							<th>车辆编号</th>
							<th>车牌号</th>
							<th>车型号</th>
							<th>净容积</th>
							<th>净载重</th>
							<th>任务路线</th>
							<th>车状态</th>
							<th>选择</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in cars |orderBy:item.carStatus">
							<td>{{$index+1}}</td>
							<td>{{item.carCode}}</td>
							<td>{{item.carNumber}}</td>
							<td>{{item.carType}}</td>
							<td>{{item.carVolume}}</td>
							<td>{{item.maxWeight}}</td>
							<td>暂时没有</td>
							<td>{{item.carStatusStr}}</td>
							<td class="text-center">
								<input type="radio" ng-model="model.isChecked" value="{{$index+1}}" ng-click="selectCar($index)"/>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel-heading">
				待装载货物
			</div>
			<div class="panel-body">
				<table class="table table-condensed table-bordered">
					<thead>
						<tr>
							<th>序号</th>
							<th>待装载区</th>
							<th>拟交货时间</th>
							<th>优先级</th>
							<th>订单号</th>
							<th>订单摘要</th>
							<th>收货点</th>
							<th>货体积</th>
							<th>货重量</th>
							<th>选择装载</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in invoices">
							<td>{{$index+1}}</td>
							<td>{{item.transportRoute}}</td>
							<td>{{item.deliveryTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
							<td>{{item.level}}</td>
							<td>{{item.orderCode}}</td>
							<td>暂时空着</td>
							<td>{{item.receiptAddress}}</td>
							<td>{{item.volume}}</td>
							<td>{{item.weight}}</td>
							<td class="text-center">
								<!--<input type="radio" ng-model="model.isChecked2" value="{{$index+1}}" ng-click="selectInvoice($index)"/>-->
								<input type="checkbox" name="radio" 
                                	   ng-model="item.isChecked"                                	
                                	   ng-click="updateSelection($event,$index,item)">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>