<!-- <div>{{orderToPrint}}</div> -->
<div class="noprint clearfix">
	<a href="javascript:;" class="btn btn-sm btn-primary pull-right" ng-click="print()">打印</a>
</div>

<article ng-repeat="item in orderToPrint" on-finish-render>
	<table class="table table-condensed table-bordered">
		<tbody>
			<tr>
				<td colspan="6">
					<div data-code="{{item.stowageCode}}" class="barcode"></div>
					<div class="text-left" style="margin-left: 80px">{{item.stowageCode}}</div>
				</td>
			</tr>
			<tr>
				<td>配载单号</td>
				<td colspan="3">{{item.stowageCode}}</td>
				<td>订单数</td>
				<td>{{item.order.orderNumber}}</td>
			</tr>
			<tr>
				<td class="col-md-2">配送路线</td>
				<td class="col-md-2">{{item.transportRoute}}</td>
				<td class="col-md-2">车辆编号</td>
				<td class="col-md-2">{{item.car.carCode}}</td>
				<td class="col-md-2">车牌号</td>
				<td class="col-md-2">{{item.car.carNumber}}</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered table-condensed">
		<tbody>
			<tr>
				<th>序号</th>
				<th>收货点</th>
				<th>拟交货时间</th>
				<th>订单号</th>
				<th>订单摘要</th>
				<th>收货地址</th>
				<th>联系人</th>
				<th>联系方式</th>
				<th>签收情况</th>
				<th>备注</th>
			</tr>
		</tbody>
		<tbody>
            <tr>
                <td>1</td>
                <td>{{item.order.receiptAddress}}</td>
                <td>{{item.order.deliveryTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{item.order.orderCode}}</td>
                <td></td>
                <td>{{item.order.receiptAddress}}</td>
                <td>{{item.order.receiver}}</td>
                <td>{{item.order.tel}}</td>
                <td>{{item.order.orderStatus}}</td>
                <td>{{item.order.memo}}</td>
            </tr>
		</tbody>
	</table>
</article>

