<div class="mode-wrapper">
	<div class="error-wrapper text-center" style="display: none">
		<h3>XX学员，请选择考核模式</h3>
		<div>
			<a href="#" class="back-btn">业务模式</a>
			<a href="#" class="back-btn">练习模式</a>
			<a href="#" class="back-btn">考核模式</a>
		</div>		
	</div>
	<div class="error-wrapper text-center">
		<h3>XX学员，你已经进入业务模式，请选择模拟的药材保障机构</h3>
		<div class="row">
			<div class="col-md-4">
				<div ui-tree class="tree tree-plus-minus">
				  <ol ui-tree-nodes="" ng-model="list" class="tree-folder">
				    <li ng-repeat="item in list" ui-tree-node class="tree-folder-header">
				      <div ui-tree-handle>
				      <span ng-class="{'fa fa-folder-open': collapsed, 'fa fa-folder': !collapsed }"></span>  
				        {{item.title}}
				      </div>
				      <ol ui-tree-nodes="" ng-model="item.items" class="tree-folder-content">
				        <li ng-repeat="subItem in item.items" ui-tree-node class="tree-folder" class="tree-folder-content">
				          <div ui-tree-handle>
				            {{subItem.title}}
				          </div>
				        </li>
				      </ol>
				    </li>
				  </ol>
				</div>			
			</div>			
		</div>

		<div class="row">
			<div  class="col-md-4 col-md-offset-4">
				<div ui-tree>
	                <div ui-tree-nodes=""  ng-model="list" class="tree text-left">
	                    <div ng-repeat="item in list" ui-tree-node class="tree-folder">
	                        <div class="tree-folder-header">
	                            <i class="fa fa-folder"></i>
	                            <div class="tree-folder-name" ui-tree-handle>
	                            	{{item.title}}
	                            </div>
	                       </div>
	                        <div ui-tree-nodes="" ng-model="item.items" class="tree-folder-content">
	                        	<div class="tree-folder" ng-repeat="subItem in item.items" ui-tree-node>
		                        	<div class="tree-folder-header">
			                            <i class="fa fa-folder"></i>
			                            <div class="tree-folder-name" ui-tree-handle>
			                            	{{subItem.title}}
			                            </div>
		                            </div>		
	                        	</div>
	                        </div>
	                    </div>
	                </div>					
				</div>				
			</div>

		</div>
	</div>
</div>
