<div class="mode-wrapper">
	<!-- <a href="javascript:;" class="btn btn-default" ng-click="">重新选择</a> -->
	<div class="error-wrapper text-center" ng-if="mode == 1">
		<h3>{{user.userName == 'undefined' ? '': user.userName}}学员，请选择操作环境</h3>
		<div>
			<a href="javascript:;" class="back-btn" ng-repeat="item in modeList" ng-click="changeMode(item.nextStep,$index)">{{item.title}}</a>
		</div>		
	</div>

	<div class="error-wrapper text-center" ng-if="mode == 2">
		<h3>{{user.userName == 'undefined' ? '': user.userName}}学员，你已经进入{{modeName}}，请选择模拟的药材保障机构</h3>
		<div class="container">
			<div class="col-md-2 col-md-offset-2">
				<h5>药材保障机构:</h5>
			</div>
			<div  class="col-md-4">
				<div ui-tree>
	                <div ui-tree-nodes=""  ng-model="data" class="tree text-left">
	                    <div ng-repeat="node in data" ui-tree-node class="tree-folder" collapsed="true" ng-include="'nodes_renderer.html'">
	                    </div>
	                </div>					
				</div>	

			</div>
		</div>
	</div>

	<div class="error-wrapper text-center" ng-if="mode == 3">
		<h3>{{user.userName == 'undefined' ? '': user.userName}}学员，你已经进入{{modeName}}，请选择准备{{modeName == '练习模式' ? '练习':'考核'}}的模块</h3>
		<div>
			<a ui-sref="home.collectStorage" class="back-btn">集货管理</a>
			<a ui-sref="home.wareInventory" class="back-btn">仓库管理</a>
			<a ui-sref="home.orderAdd" class="back-btn">订单管理</a>
			<a ui-sref="home.wareInventory" class="back-btn">配货管理</a>
			<a ui-sref="home.loadQuery" class="back-btn">配载管理</a>
			<a ui-sref="home.transVehicle" class="back-btn">运输管理</a>
		</div>		
	</div>	
</div>
<script type="text/ng-template" id="nodes_renderer.html">
    <div class="tree-folder-header" ng-click="toggle(this)" >
        <i class="fa" ng-class="{
	          'fa-folder': collapsed,
	          'fa-folder-open': !collapsed
	        }" ng-if="node.nodes && node.nodes.length > 0"></i>
        <div class="tree-folder-name">
        	<a href="javascript:;" ng-if="!node.jobs || node.jobs == 0">{{node.title}}</a>
        	<a href="javascript:;" ng-if="node.jobs == 1" ng-click="updateAgencyCode(node)">{{node.title}}</a>
        </div>
   </div>
    <div ui-tree-nodes=""  ng-model="node.nodes" class="tree-folder-content" ng-class="{hidden: collapsed}">
    	<div class="tree-folder" collapsed="true" ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
    	</div>
    </div>   
</script>