<!-- page heading start-->
<div class="page-heading">
<!--     <h3>
        Order
    </h3> -->
    <ul class="breadcrumb">
        <li>
            <a href="#">订单</a>
        </li>
        <li class="active"> 订单审核 </li>
    </ul>
</div>
<!-- page heading end-->
<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-heading clearfix">
                    <button class="btn btn-primary btn-sm pull-right">保存</button>
                </div>
                <div class="panel-body">
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                            <tr>
                                <th>操作</th>
                                <th>订单编号</th>
                                <th>订单类型</th>
                                <th class="numeric">商品名称</th>
                                <th class="numeric">商品条码</th>
                                <th class="numeric">商品规格</th>
                                <th class="numeric">收货人</th>
                                <th class="numeric">联系方式</th>
                                <th class="numeric">退货原因</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><select name="" class="form-control input-sm" id="">
                                    <option value="">无</option>
                                    <option value="">下单</option>
                                    <option value="">删除</option>
                                </select></td>
                                <td>201601010013 </td>
                                <td></td>
                                <td class="numeric">B0005</td>
                                <td class="numeric">0101</td>
                                <td class="numeric">张大发</td>
                                <td class="numeric"></td>
                                <td class="numeric"></td>
                                <td class="numeric"></td>
                            </tr>
                            <tr>
                                <td><select name="" class="form-control input-sm" id="">
                                    <option value="">无</option>
                                    <option value="">下单</option>
                                    <option value="">删除</option>
                                </select></td>
                                <td>201601010013 </td>
                                <td></td>
                                <td class="numeric">B0005</td>
                                <td class="numeric">0101</td>
                                <td class="numeric">张大发</td>
                                <td class="numeric"></td>
                                <td class="numeric"></td>
                                <td class="numeric"></td>
                            </tr>
                            <tr>
                                <td><select name="" class="form-control input-sm" id="">
                                    <option value="">无</option>
                                    <option value="">下单</option>
                                    <option value="">删除</option>
                                </select></td>
                                <td>201601010013 </td>
                                <td></td>
                                <td class="numeric">B0005</td>
                                <td class="numeric">0101</td>
                                <td class="numeric">张大发</td>
                                <td class="numeric"></td>
                                <td class="numeric"></td>
                                <td class="numeric"></td>
                            </tr>
                            <tr>
                                <td><select name="" class="form-control input-sm" id="">
                                    <option value="">无</option>
                                    <option value="">下单</option>
                                    <option value="">删除</option>
                                </select></td>
                                <td>201601010013 </td>
                                <td></td>
                                <td class="numeric">B0005</td>
                                <td class="numeric">0101</td>
                                <td class="numeric">张大发</td>
                                <td class="numeric"></td>
                                <td class="numeric"></td>
                                <td class="numeric"></td>
                            </tr>
                            <tr>
                                <td><select name="" class="form-control input-sm" id="">
                                    <option value="">无</option>
                                    <option value="">下单</option>
                                    <option value="">删除</option>
                                </select></td>
                                <td>201601010013 </td>
                                <td></td>
                                <td class="numeric">B0005</td>
                                <td class="numeric">0101</td>
                                <td class="numeric">张大发</td>
                                <td class="numeric"></td>
                                <td class="numeric"></td>
                                <td class="numeric"></td>
                            </tr>
                            <tr>
                                <td><select name="" class="form-control input-sm" id="">
                                    <option value="">无</option>
                                    <option value="">下单</option>
                                    <option value="">删除</option>
                                </select></td>
                                <td>201601010013 </td>
                                <td></td>
                                <td class="numeric">B0005</td>
                                <td class="numeric">0101</td>
                                <td class="numeric">张大发</td>
                                <td class="numeric"></td>
                                <td class="numeric"></td>
                                <td class="numeric"></td>
                            </tr>
                            <tr>
                                <td><select name="" class="form-control input-sm" id="">
                                    <option value="">无</option>
                                    <option value="">下单</option>
                                    <option value="">删除</option>
                                </select></td>
                                <td>201601010013 </td>
                                <td></td>
                                <td class="numeric">B0005</td>
                                <td class="numeric">0101</td>
                                <td class="numeric">张大发</td>
                                <td class="numeric"></td>
                                <td class="numeric"></td>
                                <td class="numeric"></td>
                            </tr>
                            <tr>
                                <td><select name="" class="form-control input-sm" id="">
                                    <option value="">无</option>
                                    <option value="">下单</option>
                                    <option value="">删除</option>
                                </select></td>
                                <td>201601010013 </td>
                                <td></td>
                                <td class="numeric">B0005</td>
                                <td class="numeric">0101</td>
                                <td class="numeric">张大发</td>
                                <td class="numeric"></td>
                                <td class="numeric"></td>
                                <td class="numeric"></td>
                            </tr>

                            </tbody>
                        </table>
                    </section>
                </div>
            </section>
        </div>
    </div>    
</div>
