

        <!-- page heading start-->
        <div class="page-heading">
            <ul class="breadcrumb">
                <li>
                    <a href="#">订单</a>
                </li>
                <li class="active"> 订单添加 </li>
            </ul>
        </div>
        <!-- page heading end-->
        <div class="wrapper">
            <div class="row">
                <div class="panel">               
                    <div class="panel-body">
                        <form role="form" class="form-horizontal"> 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">收单时间</label>
                                        <div class="col-md-8">
                                            <input class="form-control input-sm" type="text" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" ng-model="orderForm.orderTime">
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">交货时间</label>
                                        <div class="col-md-8">
                                            <input class="form-control input-sm" type="text" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" ng-model="orderForm.deliveryTime">
                                        </div>
                                    </div>    
                                </div>                                
                            </div>                            
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">客户代码</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" ng-model="orderForm.customerCode">
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">客户名称</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" ng-model="orderForm.customerName">
                                        </div>
                                    </div>    
                                </div>
                            </div>                            
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">收货人</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" ng-model="orderForm.receiver">
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">联系方式</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" ng-model="orderForm.tel">
                                        </div>
                                    </div>    
                                </div>
                                <!--<div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">收货方式</label>
                                        <!--<div class="col-md-8">
                                            <input type="text" class="form-control input-sm" ng-model="orderForm.receiveMode">
                                        </div>
                                        <select ng-model="receiptSelect.value" class="form-control input-sm"  disabled="disabled"
                    						ng-options="x.value as x.name for x in receiptMethod">               
            							</select>
                                    </div>    
                                </div>-->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">订单方式</label>
                                        <div class="col-md-8">
                                            <select ng-model="orderSelect.value" class="form-control input-sm" ng-options="x.value as x.name for x in orderMethod">
                                            </select>    
                                        </div>
                                        
                                    </div>    
                                </div>
                            </div>                          
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="" class="col-md-2 control-label">收货地址</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control input-sm" ng-model="orderForm.receiptAddress">
                                        </div>
                                    </div>    
                                </div> 
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="panel">
                    <div class="panel-heading">
                        明细
                        <a href="javascript:;" class="btn btn-xs btn-primary pull-right" ng-click="iptToggle(true)">添加明细  <i class="fa fa-plus"></i></a>
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="col-md-1">序号</th>
                                    <th class="col-md-1">商品编号</th>
                                    <th class="col-md-3">商品名称</th>
                                    <th class="col-md-1">规格型号</th>
                                    <th class="col-md-1">单位</th>
                                    <th class="col-md-1">单价</th>
                                    <th class="col-md-1">订货量</th>
                                    <!--<th class="col-md-1">金额</th>-->
                                    <th class="col-md-2">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show="iptState">
                                    <td>＃</td>
                                    <td><input type="text" class="form-control input-sm" ng-model="newItem.code" ng-change="change(newItem)"></td>
                                    <td><input type="text" class="form-control input-sm" ng-model="newItem.name"></td>
                                    <td><input type="text" class="form-control input-sm" ng-model="newItem.size"></td>
                                    <td><input type="text" class="form-control input-sm" ng-model="newItem.unit"></td>
                                    <td><input type="text" class="form-control input-sm" ng-model="newItem.price"></td>
                                    <td><input type="text" class="form-control input-sm" ng-model="newItem.amount"></td>
                                    <!--<td><input type="text" class="form-control input-sm" ng-model="newItem.sum" value="newItem.price*newItem.amount" disabled="disabled"></td>-->
                                    <td>
                                        <a href="javascript:;" class="btn btn-xs btn-primary" ng-click="iptSave(newItem)"><i class="fa fa-check"></i></a>
                                        <a href="javascript:;" class="btn btn-xs btn-primary" ng-click="iptToggle(false)"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                                <tr ng-repeat="item in items">
                                    <td>{{$index + 1}}</td>
                                    <td>{{item.productCode}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.size}}</td>
                                    <td>{{item.unit}}</td>
                                    <!-- <td>{{item.price}}</td> -->
                                    <td>{{item.productNum}}</td>
                                    <td>{{item.price*item.productNum}}</td>
                                    <td>
                                        <a href="" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i></a>
                                        <a href="" class="btn btn-xs btn-danger" ng-click="rmItem($index)"><i class="fa fa-times"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel">
                    <div class="panel-body">
                        <form action="" class="form form-horizontal">
                            <div class="form-group">
                                <label for="" class="control-label col-md-2">
                                    备注
                                </label>
                                <div class="col-md-8">
                                    <textarea class="form-control" name="" id="" rows="5" ng-model="orderForm.memo"></textarea>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <a href="" class="btn btn-sm btn-primary" ng-click="submitOrder()">提交订单</a>
                                <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="reset()">清除订单</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>            
        </div>