<!-- page heading start-->
<div class="page-heading">
<!--     <h3>
        Order
    </h3> -->
    <ul class="breadcrumb">
        <li>
            <a href="#">订单</a>
        </li>
        <li class="active"> 订单审核 </li>
    </ul>
</div>
<!-- page heading end-->
<div class="wrapper" ng-show="auditState">
    <div class="row">
        <section class="panel">
            <div class="panel-body">
                <section id="unseen">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>收单时间</th>
                            <th>订单编号</th>
                            <th>需求单位</th>
                            <th>订单摘要</th>
                            <th>交货时间</th>
                            <th class="sorting">订单状态</th>
                            <th>订单进度</th>
                            <th>审核</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in orderList.order">
                                <td>{{item.orderTime}}+{{orderList.order.size}}</td>
                                <td>{{item.orderCode}}</td>
                                <td>{{item.customerName}}</td>
                                <td>{{item.memo}}</td>
                                <td>{{item.deliveryTime}}</td>
                                <td>{{item.orderStatus}}</td>
                                <td>{{item.orderProgress}}</td>
                                <td><a href="javascript:;" ng-click="showDetail(item)">审核</a></td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </section>
    </div>
</div>
<div class="wrapper" ng-show="!auditState">
    <div class="row">
        <div class="panel"> 
            <div class="panel-heading">
                <a href="javascript:;" class="btn btn-primary" ng-click="auditStateToggle(true)"><i class="fa fa-reply"></i></a>
            </div>              
            <div class="panel-body">
                <form role="form" class="form-horizontal"> 
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="col-md-4 control-label">订单编号</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" pick-a-time="time" value="{{detail.orderCode}}">
                                </div>
                            </div>    
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="col-md-4 control-label">收单时间</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" pick-a-date="date" pick-a-date-options="dateOptions" value="{{detail.orderTime}}">
                                </div>
                            </div>    
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="col-md-4 control-label">交货时间</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" pick-a-date="date" pick-a-date-options="dateOptions" value="{{detail.deliveryTime}}">
                                </div>
                            </div>    
                        </div>                                
                    </div>                            
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="col-md-4 control-label">客户代码</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" value="{{detail.customerCode}}">
                                </div>
                            </div>    
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="col-md-4 control-label">客户名称</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" value="{{detail.customerName}}">
                                </div>
                            </div>    
                        </div>
                    </div>                            
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="col-md-4 control-label">收货人</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" value="{{detail.receiver}}">
                                </div>
                            </div>    
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="col-md-4 control-label">联系方式</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" value="{{detail.tel}}">
                                </div>
                            </div>    
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="col-md-4 control-label">收货方式</label>
                                <div class="col-md-8">
                                    <select type="text" class="form-control input-sm" value="{{detail.receiptType}}">
                                   		 <option value="{{detail.receiptType}}">{{detail.receiptType}}</option>
                                    </select>
                                </div>
                            </div>    
                        </div>                               
                    </div>                            
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="" class="col-md-2 control-label">收货地址</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control input-sm" value="{{detail.receiptAddress}}">
                                </div>
                            </div>    
                        </div> 
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                明细
                <a href="javascript:;" class="btn btn-xs btn-primary pull-right" ng-click="iptToggle(true)"><i class="fa fa-plus"></i></a>
            </div>
            <div class="panel-body">
                <table class="table table-condensed table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="col-md-1">序号</th>
                            <th class="col-md-1">商品编号</th>
                            <th class="col-md-1">商品名称</th>
                            <th class="col-md-1">规格型号</th>
                            <th class="col-md-1">单位</th>
                            <th class="col-md-1">单价</th>
                            <th class="col-md-1">订货量</th>
                            <th class="col-md-1">金额</th>
                            <th class="col-md-1">库存量</th>
                            <th class="col-md-1">缺货量</th>
                            <th class="col-md-1">分配量</th>
                            <th class="col-md-1">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="iptState">
                            <td>＃</td>
                            <td><input type="text" class="form-control input-sm" ng-model="newItem.productCode"></td>
                            <td><input type="text" class="form-control input-sm" ng-model="newItem.ordinaryName"></td>
                            <td><input type="text" class="form-control input-sm" ng-model="newItem.specifications"></td>
                            <td><input type="text" class="form-control input-sm" ng-model="newItem.unit"></td>
                            <td><input type="text" class="form-control input-sm" ng-model="newItem.price"></td>
                            <td><input type="text" class="form-control input-sm" ng-model="newItem.productNumber"></td>
                            <td><input type="text" class="form-control input-sm" ng-model="newItem.total"></td>
                            <td ng-model="newItem.stockNumber"></td>
                            <td ng-model="newItem.lack"></td>
                            <td><input type="text" class="form-control input-sm" ng-model="newItem.ditribute"></td>
                            <td>
                                <a href="javascript:;" class="btn btn-xs btn-primary" ng-click="iptSave(newItem)"><i class="fa fa-check"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-primary" ng-click="iptToggle(false)"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        <tr ng-repeat="item in items">
                            <td>{{$index + 1}}</td>
                            <td>{{item.productCode}}</td>
                            <td>{{item.ordinaryName}}</td>
                            <td>{{item.specifications}}</td>
                            <td>{{item.unit}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.productNumber}}</td>
                            <td>{{item.total}}</td>
                            <td>{{item.stockNumber}}</td>
                            <td>{{item.lack}}</td>
                            <td>{{item.distribute}}</td>
                            <td><a href="" class="btn btn-xs btn-danger" ng-click="rmItem($index)">删除</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel">               
            <div class="panel-body">
                <form role="form" class="form-horizontal">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="col-md-4 control-label">拟交货时间</label>
                                <div class="col-md-8">
                                    <div class="iconic-input right">
                                        <i class="fa fa-calendar"></i>
                                        <input type="text" class="form-control input-sm" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" ng-model="date1">
                                    </div>
                                    
                                </div>
                            </div>    
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="col-md-4 control-label">包装方式</label>
                                <div class="col-md-8">
                                    <select class="form-control input-sm" name="" id="">
                                        <option value=""></option>
                                        <option value="">纸箱</option>
                                        <option value="">PP中空板箱</option>
                                        <option value="">制式医疗箱</option>
                                    </select>
                                </div>
                            </div>    
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="col-md-4 control-label">运输方式</label>
                                <div class="col-md-8">
                                    <select class="form-control input-sm" name="" id="" ng-options="o for o in ['拼车','专车']" ng-model="shipMethod">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>                       
                    </div>
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="" class="control-label col-md-2">
                                备注
                            </label>
                            <div class="col-md-8">
                                <textarea class="form-control" name="" id="" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group text-center">
                            <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="">订单确认</a>
                            <a href="javascript:;" class="btn btn-sm btn-primary">转至疑问订单</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>    
          
    </div>
</div>
