

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                Order
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Order</a>
                </li>
                <li class="active"> 订单添加 </li>
            </ul>
        </div>
        <!-- page heading end-->
        <div class="wrapper">
            <div class="row">
                <div class="panel">
                    <div class="panel-heading clearfix">
                        <button class="btn btn-info pull-right">保存</button>
                    </div>                
                    <div class="panel-body">
                        <form role="form" class="form-horizontal"> 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">订单流水号</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm">
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">订单类型</label>
                                        <div class="col-md-8">
                                            <select name="" class="form-control input-sm" id="">
                                                <option value="">电子订单</option>
                                                <option value="">纸质订单</option>
                                                <option value="">传真订单</option>
                                            </select>
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">商品ID</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm">
                                        </div>
                                    </div>    
                                </div>                                
                            </div>                            
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">客户代码</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm">
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">交货期限</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm">
                                        </div>
                                    </div>    
                                </div>
                                        
                            </div>                            
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">收货人</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm">
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="" class="col-md-2 control-label">地址</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control input-sm">
                                        </div>
                                    </div>    
                                </div>                                
                            </div>                            
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">联系方式</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm">
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">收货方式</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm">
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">配送方式</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm">
                                        </div>
                                    </div>    
                                </div>                                
                            </div>


                        </form>
                    </div>

                </div>
            </div>
        </div>