

        <!-- page heading start-->
        <div class="page-heading">
            <ul class="breadcrumb">
                <li>
                    <a href="#">订单</a>
                </li>
                <li class="active"> 订单添加 </li>
            </ul>
        </div>
        <!-- page heading end-->
        <div class="wrapper">
            <div class="row">
                <div class="panel">
                    <div class="panel-heading clearfix">
                        <a class="btn btn-primary btn-sm  pull-right">保存</a>
                    </div>                
                    <div class="panel-body">
                        <form role="form" class="form-horizontal"> 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">收单时间</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" pick-a-date="date" pick-a-date-options="dateOptions" >
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">交货时间</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" pick-a-date="date" pick-a-date-options="dateOptions" >
                                        </div>
                                    </div>    
                                </div>                                
                            </div>                            
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">客户代码</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm">
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">客户名称</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm">
                                        </div>
                                    </div>    
                                </div>
                            </div>                            
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">收货人</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm">
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">联系方式</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm">
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">收货方式</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm">
                                        </div>
                                    </div>    
                                </div>                               
                            </div>                            
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="" class="col-md-2 control-label">收货地址</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control input-sm">
                                        </div>
                                    </div>    
                                </div> 

<!--                                 <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">配送方式</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm">
                                        </div>
                                    </div>    
                                </div> -->
                            </div>
<!--                             <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">发票信息</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm">
                                        </div>
                                    </div>    
                                </div> 

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">支付方式</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm">
                                        </div>
                                    </div>    
                                </div>
                            </div> -->

                        </form>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="panel">
                    <div class="panel-heading">
                        明细
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>3</th>
                                    <th>3</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>3</td>
                                    <td><input type="text" class="form-control input-sm"></td>
                                    <td><input type="text" class="form-control input-sm"></td>
                                    <td><a href="" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>3</td>
                                    <td>3</td>
                                    <td><a href="" class="btn btn-sm btn-danger"><i class="fa fa-minus"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel">
                    <div class="panel-body">
                        <form action="" class="form form-horizontal">
                            <div class="form-group">
                                <label for="" class="control-label col-md-2">
                                    备注
                                </label>
                                <div class="col-md-8">
                                    <textarea class="form-control" name="" id="" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <a href="" class="btn btn-sm btn-primary">提交订单</a>
                                <a href="" class="btn btn-sm btn-primary">清除订单</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>            
        </div>