<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="#">订单</a>
        </li>
        <li class="active"> 订单查询 </li>
    </ul>
</div>
<!-- page heading end-->
<div class="wrapper">
    <div class="row">
        <div class="panel">
            <div class="panel-heading clearfix">
                <button class="btn btn-primary btn-sm pull-right">查询</button>
            </div>
            <div class="panel-body">
                <form action="" role="form" class="form-horizontal adminex-form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label for="" class="col-md-2 control-label">订单编号</label>
                                    <div class="col-md-5"><input type="text" class="form-control input-sm" placeholder="开始日期" pick-a-date="date" pick-a-date-options="dateOptions"></div>
                                    <div class="col-md-5"><input type="text" class="form-control input-sm" placeholder="结束日期" pick-a-date="date" pick-a-date-options="dateOptions"></div>    
                                </div>
                                
                                <label class="control-label col-md-4">
                                    <a href="javascript:;">6小时</a>｜
                                    <a href="javascript:;">12小时</a>｜
                                    <a href="javascript:;">24小时</a>｜
                                    <a href="javascript:;">48小时</a>｜
                                    <a href="javascript:;">72小时</a>
                                内订单</label>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-md-1 control-label">状态</label>
                                <label class="control-label col-md-5">
                                    <a href="javascript:;">全部</a>｜
                                    <a href="javascript:;">未审核</a>｜
                                    <a href="javascript:;">已审核</a>｜
                                    <a href="javascript:;">有疑问</a>｜
                                    <a href="javascript:;">在配货</a>｜
                                    <a href="javascript:;">在集货</a>｜
                                    <a href="javascript:;">在装载</a>｜
                                    <a href="javascript:;">在运输</a>
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                            <tr>
                                <th>订单编号</th>
                                <th class="">订单类型<i class="fa fa-sort"></i></th>
                                <th class="numeric">客户代码</th>
                                <th class="numeric">商品ID</th>
                                <th class="numeric">收货人</th>
                                <th class="numeric">联系方式</th>
                                <th class="numeric">收货方式</th>
                                <th class="">配送方式</th>
                                <th class="">订单状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>201601010013 </td>
                                <td>电子订单</td>
                                <td class="numeric">B0005</td>
                                <td class="numeric">0101</td>
                                <td class="numeric">张大发</td>
                                <td class="numeric">13902102106</td>
                                <td class="numeric">配送</td>
                                <td class="numeric">专车</td>
                                <td class="numeric">未处理</td>
                            </tr>
                            <tr>
                                <td>201601010013 </td>
                                <td>电子订单</td>
                                <td class="numeric">B0005</td>
                                <td class="numeric">0101</td>
                                <td class="numeric">张大发</td>
                                <td class="numeric">13902102106</td>
                                <td class="numeric">配送</td>
                                <td class="numeric">专车</td>
                                <td class="numeric">未处理</td>
                            </tr>
                            <tr>
                                <td>201601010013 </td>
                                <td>电子订单</td>
                                <td class="numeric">B0005</td>
                                <td class="numeric">0101</td>
                                <td class="numeric">张大发</td>
                                <td class="numeric">13902102106</td>
                                <td class="numeric">配送</td>
                                <td class="numeric">专车</td>
                                <td class="numeric">未处理</td>
                            </tr>
                            <tr>
                                <td>201601010013 </td>
                                <td>电子订单</td>
                                <td class="numeric">B0005</td>
                                <td class="numeric">0101</td>
                                <td class="numeric">张大发</td>
                                <td class="numeric">13902102106</td>
                                <td class="numeric">配送</td>
                                <td class="numeric">专车</td>
                                <td class="numeric">未处理</td>
                            </tr>
                            <tr>
                                <td>201601010013 </td>
                                <td>电子订单</td>
                                <td class="numeric">B0005</td>
                                <td class="numeric">0101</td>
                                <td class="numeric">张大发</td>
                                <td class="numeric">13902102106</td>
                                <td class="numeric">配送</td>
                                <td class="numeric">专车</td>
                                <td class="numeric">未处理</td>
                            </tr>
                            <tr>
                                <td>201601010013 </td>
                                <td>电子订单</td>
                                <td class="numeric">B0005</td>
                                <td class="numeric">0101</td>
                                <td class="numeric">张大发</td>
                                <td class="numeric">13902102106</td>
                                <td class="numeric">配送</td>
                                <td class="numeric">专车</td>
                                <td class="numeric">未处理</td>
                            </tr>
                            <tr>
                                <td>201601010013 </td>
                                <td>电子订单</td>
                                <td class="numeric">B0005</td>
                                <td class="numeric">0101</td>
                                <td class="numeric">张大发</td>
                                <td class="numeric">13902102106</td>
                                <td class="numeric">配送</td>
                                <td class="numeric">专车</td>
                                <td class="numeric">未处理</td>
                            </tr>
                            <tr>
                                <td>201601010013 </td>
                                <td>电子订单</td>
                                <td class="numeric">B0005</td>
                                <td class="numeric">0101</td>
                                <td class="numeric">张大发</td>
                                <td class="numeric">13902102106</td>
                                <td class="numeric">配送</td>
                                <td class="numeric">专车</td>
                                <td class="numeric">未处理</td>
                            </tr>

                            </tbody>
                        </table>
                    </section>
                </div>
            </section>
        </div>
    </div>    
</div>
