<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="#">运输管理</a>
        </li>
        <li class="active"> 线路分配 </li>
    </ul>
</div>
<!-- page heading end-->
<div class="wrapper">
    <div class="row">
        <div class="panel">
            <div class="panel-body text-center">
            	<img src="./src/images/map.png" width="800" height="300" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
<!--             <div class="panel-heading text-right">
                <a href="javascript:;" class="btn btn-sm btn-primary">修改</a>
                <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="update()">确认</a>
            </div> -->
    		<div class="panel-body">
    			<table class="table table-bordered table-condensed">
    				<thead>
    					<tr>
    						<th>序号</th>
                            <th>需求单位编号</th>
    						<th>需求单位名称</th>
    						<th>省</th>
    						<th>地市</th>
    						<th>区县</th>
                            <th>收货点</th>
                            <th>邮编</th>
    						<th class="col-md-2">配送线路</th>
                            <th></th>
    					</tr>
    				</thead>
    				<tbody>
    					<tr ng-repeat="item in carLines">
    						<td>{{$index}}</td>
    						<td>{{item.demandAgencyCode}}</td>
    						<td>{{item.demandAgencyName}}</td>
    						<td>{{item.demandAgency.province}}</td>
    						<td>{{item.demandAgency.city}}</td>
                            <td>{{item.demandAgency.district}}</td>
                            <td>{{item.demandAgency.demandAgencyAddress2}}</td>
                            <td>{{item.demandAgency.zipCode}}</td>
    						<td>
                                <input type="text" class="form-control input-sm" ng-disabled="!item.transportRouteEdit">                  
                            </td>
                            <td>
                                <a href="javascript:;" class="btn btn-xs btn-primary" ng-click="edit($index)">{{item.transportRouteEdit?'取消':'修改'}}</a>
                                <a href="javascript:;" class="btn btn-xs btn-primary" ng-click="update($index)">确认</a>
                            </td>
    					</tr>
    				</tbody>
    			</table>
    		</div>
        </div>
    </div>
</div>