<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="#">运输管理</a>
        </li>
        <li class="active"> 车辆信息 </li>
    </ul>
</div>
<!-- page heading end-->
<div class="wrapper" ng-show="stateFactory.query">

    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                车辆运行记录
            </div>
            <div class="panel-heading">
                <form action="" class="form form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="" class="control-label col-md-2">车辆号/车牌号</label>
                                <div class="col-md-4">
                                    <input type="text" class="input-sm form-control" ng-model="carNumber">
                                </div>
                                <div class="col-md-2">
                                    <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="queryAllCars()">查询</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-heading clearfix text-right">
                <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="changeState('detail')">新增车辆</a>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>车辆编号</th>
                            <th>车牌号</th>
                            <th>车名</th>
                            <th>车型号</th>
                            <th>厂家</th>
                            <th>净容积</th>
                            <th>净载重</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in cars">
                            <td>{{item.id}}</td>
                            <td>{{item.carCode}}</td>
                            <td>{{item.carNumber}}</td>
                            <td>{{item.carName}}</td>
                            <td>{{item.carType}}</td>
                            <td>{{item.factory}}</td>
                            <td>{{item.carVolume}}</td>
                            <td>{{item.maxWeight}}</td>
                            <td>
                                <a href="javascript:;"ng-click="changeState('detail',item)">修改</a>
                                <a href="javascript:;" ng-click="deleteCar(item.id,index)">删除</a>
                                <a href="javascript:;"ng-click="changeState('perform',item)">运行记录</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<div class="wrapper" ng-show="stateFactory.detail">
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
            	<a href="javascript:;" ng-click="changeState('query')" class="btn btn-sm btn-primary"><i class="fa fa-reply"></i></a>
                车辆信息管理
            </div>
            <div class="panel-heading clearfix text-right">
                <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="updateCar()">保存</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
        	<div class="panel-heading">
        		基本情况
        	</div>
            <div class="panel-body">
                <form class="form form-horizontal">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">车辆编号</label>
                                <div class="col-md-8">
                                    <input type="text"  class="form-control input-sm" ng-model="car.carCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">车牌号</label>
                                <div class="col-md-8">
                                    <input type="text"  class="form-control input-sm" ng-model="car.carNumber">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">隶属单位</label>
                                <div class="col-md-8">
                                    <input type="text"  class="form-control input-sm" ng-model="car.subordinateUnits">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">车名</label>
                                <div class="col-md-8">
                                    <input type="text"  class="form-control input-sm" ng-model="car.carName">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">车型号</label>
                                <div class="col-md-8">
                                    <input type="text"  class="form-control input-sm" ng-model="car.carType">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">厂家</label>
                                <div class="col-md-8">
                                    <input type="text"  class="form-control input-sm" ng-model="car.factory">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
        	<div class="panel-heading">
        		机动性能
        	</div>
            <div class="panel-body">
                <form class="form form-horizontal">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">最大时速</label>
                                <div class="col-md-8">
                                    <input type="text"  class="form-control input-sm" ng-model="car.maxSpeed">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">平均时速</label>
                                <div class="col-md-8">
                                    <input type="text"  class="form-control input-sm" ng-model="car.averageSpeed">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">续航里程</label>
                                <div class="col-md-8">
                                    <input type="text"  class="form-control input-sm" ng-model="car.rechargeMileage">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
        	<div class="panel-heading">
        		装载能力
        	</div>
            <div class="panel-body">
                <form class="form form-horizontal">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">净容积</label>
                                <div class="col-md-8">
                                    <input type="text"  class="form-control input-sm" ng-model="car.carVolume">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">净载重</label>
                                <div class="col-md-8">
                                    <input type="text"  class="form-control input-sm" ng-model="car.maxWeight">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">车厢长</label>
                                <div class="col-md-8">
                                    <input type="text"  class="form-control input-sm" ng-model="car.carLength">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">车厢宽</label>
                                <div class="col-md-8">
                                    <input type="text"  class="form-control input-sm" ng-model="car.carWidth">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="control-label col-md-4">车厢高</label>
                                <div class="col-md-8">
                                    <input type="text"  class="form-control input-sm" ng-model="car.carHeigth">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="wrapper" ng-show="stateFactory.perform">
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                 <a href="javascript:;" ng-click="changeState('query')" class="btn btn-sm btn-primary"><i class="fa fa-reply"></i></a>
                车辆状态显示
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>启运时间</th>
                            <th>结运时间</th>
                            <th>运输单号</th>
                            <th>当次路线</th>
                            <th>当次订单数</th>
                            <th>当次里程数</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in carRecords">
                            <td>{{$index+1}}</td>
                            <td>{{item.startTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>{{item.endTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>{{item.stowageCode}}</td>
                            <td>{{item.transportRoute}}</td>
                            <td>{{item.countInvoiceCode}}</td>
                            <td>{{item.mileage}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>