<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="#">运输管理</a>
        </li>
        <li class="active"> 途中调度 </li>
    </ul>
</div>
<!-- page heading end-->
<div class="wrapper">
    <div class="row">
        <div class="panel">
            <div class="panel-body text-center">
            	<img src="./src/images/map.png" width="800" height="300" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
        	<div class="panel-heading">
        		<form action="" class="form form-horizontal">
        			<div class="row">
        				<div class="col-md-12">
        					<div class="form-group">
        						<label for="" class="control-label col-md-2">车辆号/车牌号</label>
        						<div class="col-md-4">
        							<input type="text" class="input-sm form-control">
        						</div>
        						<div class="col-md-2">
        							<a href="javascript:;" class="btn btn-sm btn-primary">查询</a>
        						</div>
        					</div>
        				</div>
        			</div>
        		</form>
        	</div>
    		<div class="panel-body">
    			<table class="table table-bordered table-condensed">
    				<thead>
    					<tr>
    						<th>序号</th>
    						<th>车辆编号</th>
    						<th>车名</th>
    						<th>运输单号</th>
    						<th>任务路线</th>
    						<th>配送订单数</th>
    						<th>配送完成数</th>
    						<th>上一站点</th>
    						<th>当前位置</th>
    						<th>下一站点</th>
    						<th>押运员</th>
    						<th>联系方式</th>
    					</tr>
    				</thead>
    				<tbody>
    					<tr>
    						<td></td>
    						<td></td>
    						<td></td>
    						<td></td>
    						<td></td>
    						<td></td>
    						<td></td>
    						<td></td>
    						<td></td>
    						<td></td>
    						<td></td>
    						<td></td>
    					</tr>
    				</tbody>
    			</table>
    		</div>
        </div>
    </div>
</div>