<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="#">运输管理</a>
        </li>
        <li class="active"> 线路分配 </li>
    </ul>
</div>
<!-- page heading end-->
<div class="wrapper">
    <div class="row">
        <div class="panel">
            <div class="panel-body text-center">
            	<img src="./src/images/map.png" width="800" height="300" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
            <div class="panel-heading text-right">
                <a href="javascript:;" class="btn btn-sm btn-primary">修改</a>
                <a href="javascript:;" class="btn btn-sm btn-primary">确认</a>
            </div>
    		<div class="panel-body">
    			<table class="table table-bordered table-condensed">
    				<thead>
    					<tr>
    						<th>序号</th>
                            <th>需求单位编号</th>
    						<th>需求单位名称</th>
    						<th>省</th>
    						<th>地市</th>
    						<th>区县</th>
                            <th>收货点</th>
                            <th>邮编</th>
    						<th class="col-md-2">配送线路</th>
    					</tr>
    				</thead>
    				<tbody>
    					<tr>
    						<td></td>
    						<td></td>
    						<td></td>
    						<td></td>
    						<td></td>
                            <td></td>
                            <td></td>
                            <td></td>
    						<td>
                                <input type="text" class="form-control" disabled>                  
                            </td>
    					</tr>
    				</tbody>
    			</table>
    		</div>
        </div>
    </div>
</div>