<script type="text/ng-template" id="alert.html">
    <div ng-transclude></div>
</script>
<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" class="fixtop">{{alert.msg}}</div>
<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="#">运输管理</a>
        </li>
        <li class="active"> 车辆调度 </li>
    </ul>
</div>
<!-- page heading end-->
<div class="wrapper">
    <div class="row">
        <div class="panel">
            <div class="panel-body text-center">
                <div class="col-md-8">
                    <img src="./src/images/map.png" width="100%" height="300" alt="">
                </div> 
                <div class="col-md-4">
                    <table class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th>车辆编号</th>
                                <th>驾驶员</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in cars">
                                <td>{{item.carCode}}</td>
                                <td>{{item.operator}}</td>
                                <td class="info">{{item.carStatus}}</td>
                                <td>
                                    <a href="javascript:;" ng-click="queryTrancarDetail(item.carCode, '前运中')">查看</a>
                                    <a href="javascript:;" ng-click="queryDispatchDetail(item.carCode)">调度</a>
                                </td>
                            </tr>

                           <!--  9999<tr>
                                <td></td>
                                <td></td>
                                <td class="success">待命</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="warning">装载</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="danger">前运</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="active">返回</td>
                                <td></td>
                            </tr> -->
                        </tbody>
                    </table>                    
                </div>
            </div>
        </div>
    </div>

</div>

<div class="wrapper" ng-show="stateFactory.detail">
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                
            </div>
            <div class="panel-body">
                <form class="form form-horizontal">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">任务单号</label>
                            <div class="col-md-8">
                               <select name="" id="" class="form-control" 
                                        ng-change="queryStowageList(stowageCode)" 
                                        ng-model="stowageCode" 
                                        ng-options="x for x in stowageCodeList"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">任务路线</label>
                            <div class="col-md-8">
                                <input class="form-control input-sm" disabled="true" ng-model="stowageList.transportRoute"></input>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-sm btn-primary" ng-click="updateStowageItems()">保存</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>任务单号</th>
                            <th>运输节点</th>
                            <th>站间里程</th>
                            <th>剩余里程</th>
                            <th class="col-md-2">出发时间</th>
                            <th class="col-md-2">到达时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in stowageList.stowageItems">
                            <td>{{item.invoiceCode}}</td>
                            <td>{{item.sequence}}</td>
                            <td></td>
                            <td></td>
                            <td><input type="text" class="input-sm form-control" datetime-picker date-format="yyyy-MM-dd hh:mm:ss" ng-model="item.invoiceTime"></td>
                            <td><input type="text" class="input-sm form-control" datetime-picker date-format="yyyy-MM-dd hh:mm:ss" ng-model="item.signedTime"></td>
                        </tr>
                    </tbody>
                </table>
            </div>            
        </div>
    </div>
</div>
<div class="wrapper" ng-show="stateFactory.dispatch">
    <div class="row">
        <div class="panel">
        <div class="panel-heading">
            
        </div>
            <div class="panel-body">
                <form class="form form-horizontal">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label for="" class="control-label col-md-2">车辆编号</label>
                                <div class="col-md-2"><label for="" class="form-control">{{currentCar}}</label></div>                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label for="" class="col-md-2 control-label">车辆状态</label>
                                <div class="col-md-10">
                                    <div class="btn-group">
                                        
                                    <a href="javascript:;" class="btn btn-sm" ng-repeat="item in carStatusList" ng-class="item.color" ng-click="updateCarStatus(currentCar, item.state)">{{item.state}}</a>
                                    </div>
                                </div>                                
                            </div>
                        </div>

                    </div>
                </form>                
            </div>

        </div>
    </div>
    <div class="row">
        <div class="panel">
            <div class="panel-heading">派车计划</div>
            <div class="panel-heading text-right">
                <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="updateDispatchPlan()">保存</a>
                <a href="javascript:;" class="btn btn-sm btn-primary">发送指令</a>
            </div>
            <div class="panel-body">
                <form action="" class="form form-horizontal">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="col-md-4 control-label">任务单号</label>
                                <div class="col-md-8">
                                    <select class="form-control" 
                                        ng-model="selectedOg"
                                        ng-options="x for x in dispatchOrders"
                                        ng-change="queryDispatchPlanDetail(selectedOg)"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="col-md-4 control-label">前送路线</label>
                                <div class="col-md-8">
                                    <input type="text" class="input-sm form-control" disabled="true" ng-model="dispatchOrdersDetail.transportRoute">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="" class="col-md-2 control-label">经过节点</label>
                                <div class="col-md-10">
                                    <input type="text" class="input-sm form-control" disabled="true" ng-value="dispatchOrdersItems">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="col-md-4 control-label">驾驶员</label>
                                <div class="col-md-8">
                                    <select class="form-control" 
                                    ng-model="selectedOperator" 
                                    ng-options="y.operatorName for (x, y) in operatorList" required></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="col-md-4 control-label">联系电话</label>
                                <div class="col-md-8">
                                    <input type="text" class="input-sm form-control" disabled="true" ng-model="selectedOperator.tel">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="col-md-4 control-label">装载时间</label>
                                <div class="col-md-8">
                                    <input type="text" class="input-sm form-control" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" ng-model="dispatchOrdersDetail.loadTime" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="col-md-4 control-label">发车时间</label>
                                <div class="col-md-8">
                                    <input type="text" class="input-sm form-control"datetime-picker date-format="yyyy-MM-dd HH:mm:ss" ng-model="dispatchOrdersDetail.departureTime" required>
                                </div>
                            </div>
                        </div>                    
                    </div>                    
                </form>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
            <div class="panel-heading">调度指令</div>
            <div class="panel-body">
                <form action="" class="form form-horizontal">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="" class="col-md-2 control-label">指令</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control input-sm" ng-model="dispatchDirect">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="updateDirectives()">发送指令</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>