<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="#">用户管理</a>
        </li>
        <li class="active"> 教员设置 </li>
    </ul>
</div>
<!-- page heading end-->

<div class="wrapper">
	<div class="row">
		<div class="panel">
			<div class="panel-body">
				<form action="" class="form form-horizontal">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<div class="col-md-6">
									<label for="" class="control-label col-md-4">账号</label>
									<div class="col-md-8"><input type="text" class="form-control input-sm"></div>	
								</div>
								<div class="col-md-6">
									<label for="" class="control-label col-md-4">姓名</label>
									<div class="col-md-8"><input type="text" class="form-control input-sm"></div>	
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<div class="col-md-6">
									<label for="" class="control-label col-md-4">用户类型</label>
									<div class="col-md-8">
										<select name="" id="" class="form-control">
											<option value="">----</option>
										</select>
									</div>	
								</div>
								<div class="col-md-6">
									<label for="" class="control-label col-md-4">班次</label>
									<div class="col-md-8">
										<select name="" id="" class="form-control">
											<option value="">----</option>
										</select>
									</div>	
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="panel-footer clearfix">
				<a href="javascript:;" class="btn btn-sm btn-primary pull-right">查询</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="panel">
			<div class="panel-heading">
				<a href="javascript:;" class="btn btn-sm btn-primary">新建帐号</a>
			</div>
			<div class="panel-body">
				<table class="table table-condensed table-bordered">
					<thead>
						<tr>
							<th class="col-md-1">序号</th>
							<th class="col-md-1">帐号</th>
							<th class="col-md-1">密码</th>
							<th class="col-md-1">用户类型</th>
							<th class="col-md-1">姓名</th>
							<th class="col-md-1">学号</th>
							<th class="col-md-1">班次</th>
							<th class="col-md-1">启用时间</th>
							<th class="col-md-1">到期时间</th>
							<th class="col-md-1">编组</th>
							<th class="col-md-2">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>
								<a href="javascript:;" class="btn btn-xs btn-primary">修改</a>
								<a href="javascript:;" class="btn btn-xs btn-primary">删除</a>
								<a href="javascript:;" class="btn btn-xs btn-primary">密码重置</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>