<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="#">库存</a>
        </li>
        <li class="active"> 货位管理 </li>
    </ul>
</div>
<!-- page heading end-->
<!-- <div class="wrapper">
	<div class="row">
		<div class="panel">
			<div class="panel-body">
				<form action="" class="form form-horizontal">
					<div class="form-group">
						<label for="" class="control-label col-md-1">商品</label>
						<div class="col-md-4"><input type="text" class="form-control input-sm"></div>
						<a href="javascript:;" class="btn btn-sm btn-primary">查询</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="panel">
			<div class="panel-body">
				<div class="form-group">
					<label for="" class="control-label">库房</label>
					<div class="btn-group">
						<button class="btn btn-default">常温库</button>
						<button class="btn btn-default">阴凉库</button>
						<button class="btn btn-default">冷藏库</button>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="row">
        <div class="panel w1000">
        	<div class="panel-heading">常温库（1号库）</div>
            <div class="panel-body">
            	<div class="col-md-1">A区</div>
            	<div class="col-md-11">
					<table class="table table-condensed table-bordered" id="table-inventory">
						<thead>
							<tr class="danger">
								<th colspan="2" class="text-center">1A01</th>
								<th colspan="2" class="text-center">1A01</th>
								<th colspan="2" class="text-center">1A01</th>
								<th colspan="2" class="text-center">1A01</th>
								<th colspan="2" class="text-center">1A01</th>
								<th colspan="2" class="text-center">1A01</th>
								<th colspan="2" class="text-center">1A01</th>
								<th colspan="2" class="text-center">1A01</th>
								<th colspan="2" class="text-center">1A01</th>
								<th colspan="2" class="text-center">1A010</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><div class="occupy" style="width: 70%">70%</div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div class="occupy" style="width: 40%">40%</div></td>
								<td><div></div></td>
							</tr>
							<tr>
								<td><div class="hlt"></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
							</tr>
							<tr>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
							</tr>
							<tr>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
							</tr>
						</tbody>
					</table>            		
            	</div>            	
            	<div class="col-md-1">B区</div>
            	<div class="col-md-11">
					<table class="table table-condensed table-bordered" id="table-inventory">
						<thead>
							<tr class="danger">
								<th colspan="2" class="text-center">1A01</th>
								<th colspan="2" class="text-center">1A01</th>
								<th colspan="2" class="text-center">1A01</th>
								<th colspan="2" class="text-center">1A01</th>
								<th colspan="2" class="text-center">1A01</th>
								<th colspan="2" class="text-center">1A01</th>
								<th colspan="2" class="text-center">1A01</th>
								<th colspan="2" class="text-center">1A01</th>
								<th colspan="2" class="text-center">1A01</th>
								<th colspan="2" class="text-center">1A010</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><div class="occupy" style="width: 70%">70%</div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div class="occupy" style="width: 40%">40%</div></td>
								<td><div></div></td>
							</tr>
							<tr>
								<td><div class="hlt"></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
							</tr>
							<tr>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
							</tr>
							<tr>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
								<td><div></div></td>
							</tr>
						</tbody>
					</table>            		
            	</div>
            </div>
        </div>
    </div>
    <div class="row">
    	<div class="panel">
    		<div class="panel-body">
	    		<div class="col-md-3">
					<div class="input-group">
	                    <input type="text" class="form-control">
	                    <span class="input-group-btn">
	                        <button class="btn btn-default" type="button">查询</button>
	                    </span>
	                </div>    			
	    		</div>
	    		<div class="col-md-9">
	    			<table class="table table-condensed table-bordered">
	    				<tr>
	    					<th>序号</th>
	    					<th>药材编号</th>
	    					<th>药材名称</th>
	    					<th>规格</th>
	    					<th>单位</th>
	    					<th>厂家</th>
	    					<th>批号</th>
	    					<th>数量</th>
	    					<th>货位</th>
	    				</tr>
	    				<tr>
	    					<td></td>
	    					<td></td>
	    					<td></td>
	    					<td></td>
	    					<td></td>
	    					<td></td>
	    					<td></td>
	    					<td></td>
	    					<td></td>
	    				</tr>
	    			</table>
	    		</div>    			
    		</div>

    	</div>
    </div>
</div> -->


<div class="wrapper">
	<div class="row">
		<div class="col-md-4">
			<div class="panel-group">
				<div class="panel" ng-repeat="item in testObj">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a href="javascript:;">{{item.title}}</a>
							<a href="javascript:;" ng-click="toggleCollapse($index)">详细</a>
							<a href="javascript:;" class="pull-right">查看货区></a>
						</h4>
					</div>
					<div class="panel-body" ng-class="{'ng-hide':!item.collapse}">
						<table class="table table-condensed table-bordered">
							<tr>
								<th>1</th>
								<th>1</th>
								<th>1</th>
							</tr>
							<tr>
								<td>2</td>
								<td>3</td>
								<td>4</td>
							</tr>
						</table>
						<a href="javascript:;" class="btn btn-xs btn-primary">edit</a>
						<a href="javascript:;" class="btn btn-xs btn-primary">del</a>
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading">
						<a href="javascript:;" class="pull-right">创建</a>
					</div>
					<div class="panel-body hide">
						<form class="form">
							
						</form>
					</div>
				</div>				
			</div>

		</div>
		<div class="col-md-4">
			<div class="panel">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a href="javascript:;">title</a>
						<a href="javascript:;" class="pull-right">more></a>
					</h4>
				</div>
				<div class="panel-body">
					<table class="table table-condensed table-bordered">
						<tr>
							<th>1</th>
							<th>1</th>
							<th>1</th>
						</tr>
						<tr>
							<td>2</td>
							<td>3</td>
							<td>4</td>
						</tr>
					</table>
					<a href="javascript:;" class="btn btn-xs btn-primary">edit</a>
					<a href="javascript:;" class="btn btn-xs btn-primary">del</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a href="javascript:;">title</a>
						<a href="javascript:;" class="pull-right">more></a>
					</h4>
				</div>
				<div class="panel-body">
					<table class="table table-condensed table-bordered">
						<tr>
							<th>1</th>
							<th>1</th>
							<th>1</th>
						</tr>
						<tr>
							<td>2</td>
							<td>3</td>
							<td>4</td>
						</tr>
					</table>
					<a href="javascript:;" class="btn btn-xs btn-primary">edit</a>
					<a href="javascript:;" class="btn btn-xs btn-primary">del</a>
				</div>
			</div>
		</div>
	</div>
</div>