<!-- page heading start-->
<div class="page-heading">
<!--     <h3>
        Order
    </h3> -->
    <ul class="breadcrumb">
        <li>
            <a href="#">库存</a>
        </li>
        <li class="active"> 库存管理 </li>
    </ul>
</div>
<!-- page heading end-->
<div class="wrapper">
    <div class="row">
        <div class="panel">
            <div class="panel-heading clearfix">
                <button class="btn btn-primary btn-sm pull-right">查询</button>
            </div>
            <div class="panel-body">
                <form action="" role="form" class="form-horizontal">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="col-md-4 control-label">商品编码</label>
                                <div class="col-md-8"><input type="text" class="form-control input-sm"></div>          
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="col-md-4 control-label">位置代码</label>
                                <div class="col-md-8"><input type="text" class="form-control input-sm"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="col-md-4 control-label">生产批号</label>
                                <div class="col-md-8"><input type="text" class="form-control input-sm"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                            <tr>
                                <th>商品编码</th>
                                <th>库存数量</th>
                                <th class="numeric">入库时间</th>
                                <th class="numeric">出库时间</th>
                                <th class="numeric">生产批号</th>
                                <th class="numeric">存放位置</th>
                                <th class="numeric">存放位置代码</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>10001 </td>
                                <td>1000</td>
                                <td class="numeric">2016/09／09 10:00</td>
                                <td class="numeric"></td>
                                <td class="numeric">20150504</td>
                                <td class="numeric">1库A区3排4列2层</td>
                                <td class="numeric">1A343</td>
                            </tr>
                            <tr>
                                <td>10001 </td>
                                <td>1000</td>
                                <td class="numeric">2016/09／09 10:00</td>
                                <td class="numeric"></td>
                                <td class="numeric">20150504</td>
                                <td class="numeric">1库A区3排4列2层</td>
                                <td class="numeric">1A343</td>
                            </tr>
                            <tr>
                                <td>10001 </td>
                                <td>1000</td>
                                <td class="numeric">2016/09／09 10:00</td>
                                <td class="numeric"></td>
                                <td class="numeric">20150504</td>
                                <td class="numeric">1库A区3排4列2层</td>
                                <td class="numeric">1A343</td>
                            </tr>
                            <tr>
                                <td>10001 </td>
                                <td>1000</td>
                                <td class="numeric">2016/09／09 10:00</td>
                                <td class="numeric"></td>
                                <td class="numeric">20150504</td>
                                <td class="numeric">1库A区3排4列2层</td>
                                <td class="numeric">1A343</td>
                            </tr>
                            <tr>
                                <td>10001 </td>
                                <td>1000</td>
                                <td class="numeric">2016/09／09 10:00</td>
                                <td class="numeric"></td>
                                <td class="numeric">20150504</td>
                                <td class="numeric">1库A区3排4列2层</td>
                                <td class="numeric">1A343</td>
                            </tr>
                            <tr>
                                <td>10001 </td>
                                <td>1000</td>
                                <td class="numeric">2016/09／09 10:00</td>
                                <td class="numeric"></td>
                                <td class="numeric">20150504</td>
                                <td class="numeric">1库A区3排4列2层</td>
                                <td class="numeric">1A343</td>
                            </tr>


                            </tbody>
                        </table>
                    </section>
                </div>
            </section>
        </div>
    </div>    
</div>
