

        <!-- page heading start-->
        <div class="page-heading">
            <ul class="breadcrumb">
                <li>
                    <a href="#">仓储管理</a>
                </li>
                <li class="active"> 入库管理 </li>
            </ul>
        </div>
        <!-- page heading end-->
        <div class="wrapper">
            <div class="row">
                <div class="panel">               
                    <div class="panel-body">
                        <form role="form" class="form-horizontal"> 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">收货时间</label>
                                        <div class="col-md-8">
                                            <input class="form-control input-sm" type="text" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" ng-model="d1">
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="" class="col-md-2 control-label">货物描述</label>
                                        <div class="col-md-10">
                                            <input class="form-control input-sm" type="text">
                                        </div>
                                    </div>    
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">供货方</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" >
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">联系人</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" >
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">联系方式</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" >
                                        </div>
                                    </div>    
                                </div>
                            </div>  
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">送货方</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" >
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">联系人</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" >
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">联系方式</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" >
                                        </div>
                                    </div>    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">收货凭证</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" >
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">凭证号</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" >
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel">
                    <div class="panel-heading">
                        收货明细
                        <a href="javascript:;" class="btn btn-xs btn-primary pull-right" ng-click="iptToggle(true)">添加明细  <i class="fa fa-plus"></i></a>
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="col-md-1">序号</th>
                                    <th class="col-md-1">药材编号</th>
                                    <th class="col-md-2">药材名称</th>
                                    <th class="col-md-1">规格</th>
                                    <th class="col-md-1">型号</th>
                                    <th class="col-md-1">单位</th>
                                    <th class="col-md-1">厂家</th>
                                    <th class="col-md-1">生产批号</th>
                                    <th class="col-md-1">单价</th>
                                    <th class="col-md-1">装箱数量</th>
                                    <th class="col-md-2">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show="iptState">
                                    <td>＃</td>
                                    <td><input type="text" class="form-control input-sm" ng-model="newItem.code" ng-change="change(newItem)"></td>
                                    <td><input type="text" class="form-control input-sm" ng-model="newItem.name"></td>
                                    <td><input type="text" class="form-control input-sm" ng-model="newItem.size"></td>
                                    <td><input type="text" class="form-control input-sm" ng-model="newItem.unit"></td>
                                    <td><input type="text" class="form-control input-sm" ng-model="newItem.price"></td>
                                    <td><input type="text" class="form-control input-sm" ng-model="newItem.amount"></td>
                                    <!--<td><input type="text" class="form-control input-sm" ng-model="newItem.sum" value="newItem.price*newItem.amount" disabled="disabled"></td>-->
                                    <td>
                                        <a href="javascript:;" class="btn btn-xs btn-primary" ng-click="iptSave(newItem)"><i class="fa fa-check"></i></a>
                                        <a href="javascript:;" class="btn btn-xs btn-primary" ng-click="iptToggle(false)"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                                <tr ng-repeat="item in items">
                                    <td>{{$index + 1}}</td>
                                    <td>{{item.productCode}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.size}}</td>
                                    <td>{{item.unit}}</td>
                                    <!-- <td>{{item.price}}</td> -->
                                    <td>{{item.productNum}}</td>
                                    <td>{{item.price*item.productNum}}</td>
                                    <td>
                                        <a href="" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i></a>
                                        <a href="" class="btn btn-xs btn-danger" ng-click="rmItem($index)"><i class="fa fa-times"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel">
                    <div class="panel-body">
                        <form action="" class="form form-horizontal">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">外观性状情况</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" ng-model="orderForm.tel">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">说明书标签情况</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" ng-model="orderForm.tel">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">质检报告情况</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" ng-model="orderForm.tel">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">验收员</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" ng-model="orderForm.tel">
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">验收结论</label>
                                        <div class="col-md-8">
                                            <select ng-model="orderSelect.value" class="form-control input-sm">
                                                <option value="">1</option>
                                                <option value="">2</option>
                                            </select>    
                                        </div>
                                        
                                    </div>    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="" class="col-md-2 control-label">备注</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control input-sm" ng-model="orderForm.receiptAddress">
                                        </div>
                                    </div>    
                                </div> 
                                <div class="col-md-2">
                                    <button class="btn btn-sm btn-primary">验收确认</button>
                                </div>
                            </div>                              
                        </form>
                    
                    </div>
                </div>
            </div>       
        </div>