<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="#">库存</a>
        </li>
        <li class="active"> 货位管理 </li>
    </ul>
</div>
<!-- page heading end-->


<div class="wrapper">
	<div class="row">
		<div class="col-md-6">
			<div class="panel">
				<div class="panel-heading">仓库</div>
				<div class="panel-body">
					<table class="table table-condensed table-bordered">
						<thead>
							<tr>
								<th>选择</th>
								<th>编号</th>
								<th>名称</th>
								<th>储存种类</th>
							</tr>
						</thead>
						<tbody>
							<tr
								ng-repeat="item in wareList" ng-click="updateSelection($event,item, $index)">
								<td class="text-center">
									<input type="radio" name="radio" ng-checked="$index == states.currentWare ? true : false">
								</td>
								<td>{{item.id}}</td>
								<td>{{item.name}}</td>
								<td>{{item.type}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="panel-footer clearfix">
					<div class="form-group pull-right">
						<a href="javascript:;" class="btn btn-sm btn-primary" ng-click="addWare()">新建</a>
						<a href="javascript:;" class="btn btn-sm btn-primary" ng-click="editWare()">调整</a>
					</div>
				</div>
			</div>
			<!-- 新增 -->
			<div ng-if="states.addNewMode && states.basicState">
				<div class="panel">
					<div class="panel-heading">{{selectedList.name}} 基本信息</div>
					<div class="panel-body">
						<form action="" class="form form-horizontal">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="" class="col-md-4 control-label">仓库编号</label>
										<div class="col-md-8">
											<input type="text" class="form-control input-sm">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="" class="col-md-4 control-label">仓库名称</label>
										<div class="col-md-8">
											<input type="text" class="form-control input-sm">
										</div>
									</div>
								</div>							
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="" class="col-md-4 control-label">仓库地址</label>
										<div class="col-md-8">
											<input type="text" class="form-control input-sm">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="" class="col-md-4 control-label">储存品类</label>
										<div class="col-md-8">
											<input type="text" class="form-control input-sm">
										</div>
									</div>
								</div>			
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="" class="col-md-4 control-label">负责人</label>
										<div class="col-md-8">
											<input type="text" class="form-control input-sm">
										</div>
									</div>
								</div>			
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="" class="col-md-4 control-label">内长</label>
										<div class="col-md-8">
											<input type="text" class="form-control input-sm">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="" class="col-md-4 control-label">内宽</label>
										<div class="col-md-8">
											<input type="text" class="form-control input-sm">
										</div>
									</div>
								</div>			
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="" class="col-md-4 control-label">内高</label>
										<div class="col-md-8">
											<input type="text" class="form-control input-sm">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="" class="col-md-4 control-label">使用面积</label>
										<div class="col-md-8">
											<input type="text" class="form-control input-sm">
										</div>
									</div>
								</div>			
							</div>
						</form>
					</div>
					<div class="panel-footer clearfix">
						<div class="form-group pull-right ">
							<a href="javascript:;" class="btn btn-sm btn-primary">保存</a>
						</div>					
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading">{{selectedList.name}} 货区信息</div>
					<div class="panel-body">
						<table class="table table-condensed table-bordered">
							<thead>
								<tr>
									<th>序号</th>
									<th class="col-md-2">货区</th>
									<th class="col-md-2">货区名</th>
									<th class="col-md-2">货架数</th>
									<th class="col-md-2">货位数</th>
									<th class="col-md-2">箱数</th>
									<th class="col-md-2">操作</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-show="isNewArea">
									<td class="text-center"></td>
									<td class="col-md-2"><input type="text" class="input-sm form-control"></td>
									<td class="col-md-2"><input type="text" class="input-sm form-control"></td>
									<td class="col-md-2"><input type="text" class="input-sm form-control"></td>
									<td class="col-md-2"><input type="text" class="input-sm form-control"></td>
									<td class="col-md-2"><input type="text" class="input-sm form-control"></td>
									<td class="col-md-2">
										<a href="javascript:;" class="btn btn-xs btn-primary"><i class="fa fa-check"></i></a>
										<a href="javascript:;" class="btn btn-xs btn-primary"><i class="fa fa-times"></i></a>
									</td>
								</tr>
								<tr>
									<td class="text-center">1</td>
									<td>A</td>
									<td>口服药区</td>
									<td>50</td>
									<td>50</td>
									<td>50</td>
									<td>
										<a href="javascript:;" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i></a>
										<a href="javascript:;" class="btn btn-xs btn-primary"><i class="fa fa-times"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="panel-footer clearfix">
						<div class="form-group pull-right ">
							<a href="javascript:;" class="btn btn-sm btn-primary" ng-click="addNewArea()">{{isNewArea ? '取消': '新增'}}</a>
							<a href="javascript:;" class="btn btn-sm btn-primary" ng-click="saveNewArea()">保存</a>
						</div>					
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading">{{selectedList.name}} 新增货架</div>
					<div class="panel-body">
						<table class="table table-condensed table-bordered">
							<thead>
								<tr>
									<th>序号</th>
									<th>货架选型</th>
									<th>层数</th>
									<th>数量</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-show="isNewShelve">
									<td class="text-center col-md-1"></td>
									<td class="col-md-2"><input type="text" class="form-control input-sm"></td>
									<td class="col-md-2"><input type="text" class="form-control input-sm"></td>
									<td class="col-md-2"><input type="text" class="form-control input-sm"></td>
									<td class="col-md-2">
										<a href="javascript:;" class="btn btn-xs btn-primary"><i class="fa fa-check"></i></a>
										<a href="javascript:;" class="btn btn-xs btn-primary"><i class="fa fa-times"></i></a>
									</td>
								</tr>
								<tr>
									<td class="text-center">1</td>
									<td>A</td>
									<td>口服药区</td>
									<td>50</td>
									<td>
										<a href="javascript:;" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i></a>
										<a href="javascript:;" class="btn btn-xs btn-primary"><i class="fa fa-times"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="panel-footer clearfix">
						<div class="form-group pull-right ">
							<a href="javascript:;" class="btn btn-sm btn-primary" ng-click="addNewShelve()">{{isNewShelve ? '取消': '新增'}}</a>
							<a href="javascript:;" class="btn btn-sm btn-primary" ng-click="saveNewShelve()">保存</a>
						</div>					
					</div>
				</div>				
			</div>
			<!-- 编辑 -->
			<div ng-if="!states.addNewMode && states.basicState">
				<div class="panel">
					<div class="panel-heading">{{selectedList.name}} 基本信息</div>
					<div class="panel-body">
						<form action="" class="form form-horizontal">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="" class="col-md-4 control-label">仓库编号</label>
										<div class="col-md-8">
											<input type="text" class="form-control input-sm" ng-disabled="!states.editMode" ng-model="selectedList.id">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="" class="col-md-4 control-label">仓库名称</label>
										<div class="col-md-8">
											<input type="text" class="form-control input-sm" ng-disabled="!states.editMode" ng-model="selectedList.name">
										</div>
									</div>
								</div>							
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="" class="col-md-4 control-label">仓库地址</label>
										<div class="col-md-8">
											<input type="text" class="form-control input-sm" ng-disabled="!states.editMode"  ng-model="selectedList.address">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="" class="col-md-4 control-label">储存品类</label>
										<div class="col-md-8">
											<input type="text" class="form-control input-sm" ng-disabled="!states.editMode" ng-model="selectedList.category">
										</div>
									</div>
								</div>			
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="" class="col-md-4 control-label">负责人</label>
										<div class="col-md-8">
											<input type="text" class="form-control input-sm" ng-disabled="!states.editMode"  ng-model="selectedList.charge">
										</div>
									</div>
								</div>			
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="" class="col-md-4 control-label">内长</label>
										<div class="col-md-8">
											<input type="text" class="form-control input-sm" ng-disabled="!states.editMode" ng-model="selectedList.length">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="" class="col-md-4 control-label">内宽</label>
										<div class="col-md-8">
											<input type="text" class="form-control input-sm" ng-disabled="!states.editMode" ng-model="selectedList.width">
										</div>
									</div>
								</div>			
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="" class="col-md-4 control-label">内高</label>
										<div class="col-md-8">
											<input type="text" class="form-control input-sm" ng-disabled="!states.editMode" ng-model="selectedList.height">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="" class="col-md-4 control-label">使用面积</label>
										<div class="col-md-8">
											<input type="text" class="form-control input-sm" ng-disabled="!states.editMode" ng-model="selectedList.area">
										</div>
									</div>
								</div>			
							</div>
						</form>
					</div>
					<div class="panel-footer clearfix" ng-show="states.editMode">
						<div class="form-group pull-right ">
							<a href="javascript:;" class="btn btn-sm btn-primary" ng-click="saveEditWare()">保存</a>
						</div>					
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading">{{selectedList.name}} 货区信息</div>
					<div class="panel-body">
						<table class="table table-condensed table-bordered">
							<thead>
								<tr>
									<th>序号</th>
									<th>货区</th>
									<th>货区名</th>
									<th>货架数</th>
									<th>货位数</th>
									<th>箱数</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="cargoArea in selectedList.cargoAreas">
									<td class="text-center">{{cargoArea.id}}</td>
									<td>{{cargoArea.cargoAreaCode}}</td>
									<td>{{cargoArea.cargoAreaName}}</td>
									<td>{{cargoArea.shelfCount}}</td>
									<td>{{cargoArea.locatorCount}}</td>
									<td>{{cargoArea.boxCount}}</td>
									<td>
										<a href="javascript:;" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i></a>
										<a href="javascript:;" class="btn btn-xs btn-primary"><i class="fa fa-times"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="panel-footer clearfix" ng-show="states.editMode">
						<div class="form-group pull-right ">
							<a href="javascript:;" class="btn btn-sm btn-primary">新增</a>
							<a href="javascript:;" class="btn btn-sm btn-primary">保存</a>
						</div>					
					</div>
				</div>
				<div class="panel" ng-if="states.editMode">
					<div class="panel-heading">{{selectedList.name}} 新增货架</div>
					<div class="panel-body">
						<table class="table table-condensed table-bordered">
							<thead>
								<tr>
									<th>序号</th>
									<th>货架选型</th>
									<th>层数</th>
									<th>数量</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-center">1</td>
									<td>口服药区</td>
									<td>50</td>
									<td>50</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="panel-footer clearfix" ng-show="states.editMode">
						<div class="form-group pull-right ">
							<a href="javascript:;" class="btn btn-sm btn-primary">新增</a>
							<a href="javascript:;" class="btn btn-sm btn-primary">保存</a>
						</div>					
					</div>
				</div>				
			</div>


		</div>
		<div class="col-md-6" ng-if="states.basicState">
			<!-- 查看信息 -->
			<div class="panel" ng-if="!states.editMode && !states.addNewMode">
				<div class="panel-heading">{{selectedList.name}} 货位信息</div>
				<div class="panel-body">
					<table class="table table-condensed table-bordered">
						<thead>
							<tr>
								<th>序号</th>
								<th>货区</th>
								<th>货架</th>
								<th>货位</th>
								<th>箱数</th>
								<th>货位容积率</th>
								<th>捡货频次</th>
								<th>选择</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in locators">
								<td>{{$index+1}}</td>
								<td>A</td>
								<td>{{item.shelfNumber}}</td>
								<td>{{item.locatorCode}}</td>
								<td>0</td>
								<td>{{item.gridLength*item.gridWidth*item.gridHeigth}}</td>
								<td>0</td>
								<td>
									<input type="radio">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="panel-footer clearfix">
					<div class="form-group pull-right">
						<a href="javascript:;" class="btn btn-sm btn-primary">货位明细</a>
					</div>
				</div>
			</div>
			<!-- 编辑信息 -->
			<div class="panel" ng-if="states.editMode && !states.addNewMode">
				<div class="panel-heading">{{selectedList.name}} 货区调整</div>
				<div class="panel-body">
					<table class="table table-condensed table-bordered">
						<thead>
							<tr>
								<th>序号</th>
								<th>货架</th>
								<th>规格</th>
								<th>层数</th>
								<th>储存货品</th>
								<th>变更货区</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>011</td>
								<td>1</td>
								<td>1</td>
								<td>阿莫西林</td>
								<td>
									<select name="" id="">
										<option value="">货区</option>
									</select>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="panel-footer clearfix">
					<div class="form-group pull-right">
						<a href="javascript:;" class="btn btn-sm btn-primary">保存</a>
					</div>
				</div>
			</div>	
			<!-- 新建信息 -->
			<div class="panel" ng-if="states.addNewMode && states.basicState">
				<div class="panel-heading">{{selectedList.name}} 货区分配</div>
				<div class="panel-body">
					<table class="table table-condensed table-bordered">
						<thead>
							<tr>
								<th>序号</th>
								<th>货架</th>
								<th>规格</th>
								<th>层数</th>
								<th>储存货品</th>
								<th>分配货区</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>011</td>
								<td>1</td>
								<td>1</td>
								<td>阿莫西林</td>
								<td>
									<select name="" id="">
										<option value="">货区</option>
									</select>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="panel-footer clearfix">
					<div class="form-group pull-right">
						<a href="javascript:;" class="btn btn-sm btn-primary">保存</a>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>