        <!-- page heading start-->
        <div class="page-heading">
            <ul class="breadcrumb">
                <li>
                    <a href="#">仓储管理</a>
                </li>
                <li class="active"> 收货验收 </li>
            </ul>
        </div>
        <!-- page heading end-->
        <div class="wrapper">
            <div class="row">
                <div class="panel">  
                    <div class="panel-heading">
                        收货信息
                    </div>             
                    <div class="panel-body">
                        <form role="form" class="form-horizontal"> 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">收货类型</label>
                                        <div class="col-md-8">
                                            <select ng-model="receiverSelect.value" class="form-control input-sm" ng-change="getValue()"
                    								ng-options="x.value as x.name for x in receiverType">               
            								</select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">收货人</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" ng-model="entryInfo.recevier">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">收货仓库</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" ng-model="entryInfo.receiveStore">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">收货时间</label>
                                        <div class="col-md-8">
                                            <input class="form-control input-sm" type="text" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" ng-model="entryInfo.recevierTime">
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">货物描述</label>
                                        <div class="col-md-8">
                                            <input class="form-control input-sm" type="text" ng-model="entryInfo.goodsDes">
                                        </div>
                                    </div>    
                                </div>  
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">来源</label>
                                        <div class="col-md-8">
                                            <input class="form-control input-sm" type="text" ng-model="entryInfo.resource">
                                        </div>
                                    </div>    
                                </div>                                
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">供货方</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" ng-model="entryInfo.supplier.supply">
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">联系人</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" ng-model="entryInfo.supplier.linkMan">
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">联系方式</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" ng-model="entryInfo.supplier.tel">
                                        </div>
                                    </div>    
                                </div>
                            </div>  
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">送货方</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" ng-model="entryInfo.deliver.deliver">
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">联系人</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" ng-model="entryInfo.deliver.linkMan">
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">联系方式</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" ng-model="entryInfo.deliver.tel">
                                        </div>
                                    </div>    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">收货凭证</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" ng-model="entryInfo.receivingNote">
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">凭证号</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" ng-model="entryInfo.receivingCode">
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel">
                    <div class="panel-heading">
                        收货明细
                        <a href="javascript:;" class="btn btn-xs btn-primary pull-right" ng-click="iptToggle(true)">添加明细  <i class="fa fa-plus"></i></a>
                    </div>
                    <div class="panel-body">
                        <div class="w100">
                            <table class="tbl-1500 table table-condensed table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th width="35">序号</th>
                                        <th>药材名称</th>
                                        <th>药材编号</th>
                                        <th>规格</th>
                                        <th>型号</th>
                                        <th>计量单位</th>
                                        <th>厂家</th>
                                        <th width="80">购进单价</th>
                                        <th width="100">生产批号</th>
                                        <th width="100">生产日期</th>
                                        <th width="80">单箱数量</th>
                                        <th width="80">箱数</th>
                                        <th width="80">小计数量</th>
                                        <th width="80">零箱标记</th>
                                        <th>备注</th>
                                        <th class="col-md-1">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-show="iptState">
                                        <td>＃</td>
                                        <td><input type="text" class="form-control input-sm" ng-model="newItem.name"></td>
                                        <td><input type="text" class="form-control input-sm" ng-model="newItem.productCode" ng-change="change(newItem)"></td>
                                        <td><input type="text" class="form-control input-sm" ng-model="newItem.size"></td>
                                        <td><input type="text" class="form-control input-sm" ng-model="newItem.type"></td>
                                        <td><input type="text" class="form-control input-sm" ng-model="newItem.unit"></td>
                                        <td><input type="text" class="form-control input-sm" ng-model="newItem.factory"></td>
                                        <td><input type="number" class="form-control input-sm" ng-model="newItem.purchasePrice"></td>
                                        <td><input type="text" class="form-control input-sm" ng-model="newItem.productionBatch"></td>
                                        <td><input type="text" class="form-control input-sm" datetime-picker date-format="yyyy-MM-dd" ng-model="newItem.factoryTime"></td>
                                        <td><input type="number" class="form-control input-sm" ng-model="newItem.singleAmount"></td>
                                        <td><input type="number" class="form-control input-sm" ng-model="newItem.boxQuantity"></td>
                                        <td><input type="number" class="form-control input-sm" ng-model="newItem.smallAmount"></td>
                                        <td class="text-center"><input type="checkbox" ng-model="newItem.boxMark"/></td>
                                        <td><input type="text" class="form-control input-sm" ng-model="newItem.memo"></td>
                                        <td>
                                            <a href="javascript:;" class="btn btn-xs btn-primary" ng-click="iptSave(newItem)"><i class="fa fa-check"></i></a>
                                            <a href="javascript:;" class="btn btn-xs btn-primary" ng-click="iptToggle(false)"><i class="fa fa-times"></i></a>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="item in items">
                                        <td>{{$index + 1}}</td>
                                        <td>{{item.name}}</td>
                                        <td>{{item.productCode}}</td>
                                        <td>{{item.size}}</td>
                                        <td>{{item.type}}</td>
                                        <td>{{item.unit}}</td>
                                        <td>{{item.factory}}</td>
                                        <td><input type="number" class="form-control input-sm" ng-model="item.purchasePrice" ng-disabled="item.editDisabled"></td>
                                        <td><input type="text" class="form-control input-sm" ng-model="item.productionBatch" ng-disabled="item.editDisabled"></td>                                 
                                        <td><input type="text" class="form-control input-sm" datetime-picker date-format="yyyy-MM-dd" ng-model="item.factoryTime" ng-disabled="item.editDisabled"></td>
                                        <td>{{item.singleAmount}}</td>
                                        <td><input type="number" class="form-control input-sm" ng-model="item.boxQuantity" ng-disabled="item.editDisabled"></td>
                                        <td><input type="number" class="form-control input-sm" ng-model="item.smallAmount" ng-disabled="!item.boxMark"></td>
                                        <td class="text-center"><input type="checkbox" ng-model="item.boxMark"/></td>
                                        <td>{{item.memo}}</td>
                                        <td ng-if="item.editDisabled">
                                            <a href="" class="btn btn-xs btn-primary" ng-click="edit($index)"><i class="fa fa-edit"></i></a>
                                            <a href="" class="btn btn-xs btn-danger" ng-click="rmItem($index)"><i class="fa fa-times"></i></a>
                                        </td>
                                        <td ng-if="!item.editDisabled">
                                            <a href="javascript:;" class="btn btn-xs btn-primary" ng-click="save($index)"><i class="fa fa-check"></i></a>
                                            <a href="javascript:;" class="btn btn-xs btn-primary" ng-click="cancel($index)"><i class="fa fa-times"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>                            
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel">
                    <div class="panel-heading">
                        验收信息
                    </div>
                    <div class="panel-body">
                        <form action="" class="form form-horizontal">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="" class="col-md-2 control-label">验收纪录</label>
                                        <div class="col-md-10">
                                            <textarea name="" id="" rows="2" class="form-control" ng-model="entryInfo.checkRecord"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">验收员</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" ng-model="entryInfo.checkMan">
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-4 control-label">验收结论</label>
                                        <div class="col-md-8">
                                            <select ng-model="defaultSelect.value" class="form-control input-sm" ng-change="getValue()"
                    								ng-options="x.value as x.name for x in conclusion">               
            								</select>
                                        </div>
                                        
                                    </div>    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="" class="col-md-2 control-label">备注</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control input-sm" ng-model="entryInfo.remark">
                                        </div>
                                    </div>    
                                </div> 
                                <div class="col-md-2">
                                    <button class="btn btn-sm btn-primary" ng-click="confirm()">验收确认</button>
                                </div>
                            </div>                              
                        </form>
                    
                    </div>
                </div>
            </div>       
        </div>