
<section>
    <div ui-view="side" class="left-side sticky-left-side"></div>
    <div class="main-content">
        <div ui-view="header"></div>
        <div ui-view></div>
        <!--footer section start-->
        <script>
            var year = new Date().getFullYear();
            document.getElementById('footer').innerHTML(year+' &copy; 第二军医大学');
        </script>
        <footer id="footer">
            2016 &copy; 第二军医大学
        </footer>
        <!--footer section end-->           
    </div>

</section>
