
<div class="login-body">
    <div class="container">

        <form class="form-signin" action="index.html">
            <div class="form-signin-heading text-center">
                <h1 class="sign-title">药材仓库业务模拟训练系统</h1>
                <!-- <img src="./src/images/login-logo.png" alt=""/> -->

            </div>
            <div class="login-wrap">
                <input type="text" ng-model="loginInfo.name" class="form-control" placeholder="用户名" autofocus>
                <input type="password" ng-model="loginInfo.password" class="form-control" placeholder="密码">

                <a class="btn btn-lg btn-login btn-block" ng-click="login()">
                    <i class="fa fa-check"></i>
                </a>
                <label class="checkbox">
                    <input type="checkbox" value="remember-me" ng-model="rmbme"> 记住密码
                    <span class="pull-right">
                        <a data-toggle="modal" href="#"> 忘记密码?</a>

                    </span>
                </label>

            </div>

        </form>

    </div>    
</div>


