
        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="index.html"><img src="src/images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="index.html"><img src="src/images/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->

        <div class="left-side-inner">

            <!-- visible to small devices only -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <img alt="" src="src/images/photos/user-avatar.png" class="media-object">
                    <div class="media-body">
                        <h4><a href="#">John Doe</a></h4>
                        <span>"Hello There..."</span>
                    </div>
                </div>

                <h5 class="left-nav-title">Account Information</h5>
                <ul class="nav nav-pills nav-stacked custom-nav">
                  <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                  <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                  <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                </ul>
            </div>

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="active"><a href="index.html"><i class="fa fa-home"></i> <span>主页</span></a></li>
                <li class="menu-list"><a href=""><i class="fa fa-laptop"></i> <span>商品管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="blank_page.html"> 单一商品</a></li>
                        <li><a href="boxed_view.html"> 组合商品</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-book"></i> <span>店铺管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="general.html"> 在售商品</a></li>
                        <li><a href="buttons.html"> 商品陈列</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-cogs"></i> <span>订单管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="grids.html"> 订单输入</a></li>
                        <li><a href="gallery.html">订单查询</a></li>
                        <li><a href="calendar.html"> 订单审核</a></li>
                        <li><a href="tree_view.html">退货处理</a></li>

                    </ul>
                </li>

                <li class="menu-list"><a href=""><i class="fa fa-envelope"></i> <span>仓库管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="mail.html"> 货位管理</a></li>
                        <li><a href="mail_compose.html"> 库存管理</a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href=""><i class="fa fa-tasks"></i> <span>配送管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="form_layouts.html"> 配载管理</a></li>
                        <li><a href="form_advanced_components.html"> 车辆管理</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-bar-chart-o"></i> <span>统计分析</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="flot_chart.html"> 订单统计</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href="#"><i class="fa fa-th-list"></i> <span>用户管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="basic_table.html"> 用户管理</a></li>
                    </ul>
                </li>

            </ul>
            <!--sidebar nav end-->

        </div>