
        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="index.html"><img src="src/images/logo.png" alt=""></a>
        </div>
        <div class="logo-icon text-center">
            <a href="index.html"><img src="src/images/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->

        <div class="left-side-inner">

            <!-- visible to small devices only -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <img alt="" src="src/images/photos/user-avatar.png" class="media-object">
                    <div class="media-body">
                        <h4><a href="#">{{username}}</a></h4>
                        <span>"Hello There..."</span>
                    </div>
                </div>

                <h5 class="left-nav-title">Account Information</h5>
                <ul class="nav nav-pills nav-stacked custom-nav">
                  <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                  <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                  <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                </ul>
            </div>

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="active">
                    <a href="{{list.parent.url}}"><i class="fa fa-tachometer"></i> <span>{{list.parent.title}}</span>
                    </a>
                </li>
                
                <li ng-repeat="item in list.items" 
                  	  class="menu-list" 
                  	  ng-class="{'nav-active':item.isActive}">
                  	<a ng-click="listToggle($index)">
                  		<i class="{{item.icon}}"></i> 
                  		<span>{{item.title}}</span>
                  	</a>
                    <ul class="sub-menu-list">
                        <li ng-repeat="child in item.child" ng-class="{'active':child.isActive}" ng-show="!child.notAdmin">
                        	<a ui-sref="{{child.url}}">{{child.title}}</a>
                        </li>
                    </ul>
                </li>

            </ul>
            <!--sidebar nav end-->

        </div>